<!-- control -->
<ng-container *ngIf="lcView === 'control'">
  <nz-form-item>
    <nz-form-control [nzErrorTip]="getError(control)">
      <ng-container *ngIf="lcType === 'textarea'">
        <textarea nz-input [(ngModel)]="model" #control="ngModel" required (ngModelChange)="onChangeData($event)"></textarea>
      </ng-container>
      <ng-container *ngIf="lcType === 'input'">
        <input nz-input [(ngModel)]="model" #control="ngModel" required (ngModelChange)="onChangeData($event)" />
      </ng-container>
      <ng-container *ngIf="lcType === 'money'">
        <app-loki-money [(ngModel)]="model" #control="ngModel" required (ngModelChange)="onChangeData($event)"> </app-loki-money>
      </ng-container>
      <ng-container *ngIf="lcType === 'switch'">
        <nz-switch [(ngModel)]="model" #control="ngModel" required (ngModelChange)="onChangeData($event)"></nz-switch>
      </ng-container>
      <ng-container *ngIf="lcType === 'checkbox'">
        <label nz-checkbox [(ngModel)]="model" #control="ngModel" required (ngModelChange)="onChangeData($event)"> </label>
      </ng-container>
      <ng-container *ngIf="lcType === 'date'">
        <app-loki-date [(ngModel)]="model" #control="ngModel" required (ngModelChange)="onChangeData($event)"> </app-loki-date>
      </ng-container>
      <ng-container *ngIf="lcType === 'select'">
        <nz-select
          [(ngModel)]="model"
          #control="ngModel"
          required
          (ngModelChange)="onChangeData($event)"
          nzShowSearch
          nzAllowClear
          style="width: 100%;"
          [nzDropdownRender]="lcConfig.action ? render : null"
        >
          <nz-option *ngFor="let option of lcConfig.enum" [nzLabel]="option.i18n" [nzValue]="option.value"></nz-option>
        </nz-select>
        <ng-template #render>
          <div class="add-item" (click)="lcConfig.action()"><i nz-icon nzType="plus"></i>&nbsp;{{ 'Tạo và sửa' | translate }}</div>
        </ng-template>
      </ng-container>
      <ng-container *ngIf="lcType === 'select-multiple'">
        <nz-select
          nzMode="multiple"
          [(ngModel)]="model"
          #control="ngModel"
          required
          (ngModelChange)="onChangeData($event)"
          nzShowSearch
          nzAllowClear
          style="width: 100%;"
          [nzDropdownRender]="lcConfig.action ? render : null"
        >
          <nz-option *ngFor="let option of lcConfig.enum" [nzLabel]="option.i18n" [nzValue]="option.value"></nz-option>
        </nz-select>
        <ng-template #render>
          <div class="add-item" (click)="lcConfig.action()"><i nz-icon nzType="plus"></i>&nbsp;{{ 'Tạo và sửa' | translate }}</div>
        </ng-template>
      </ng-container>
      <ng-container *ngIf="lcType === 'select-tags'">
        <nz-select
          nzMode="tags"
          [(ngModel)]="model"
          #control="ngModel"
          required
          (ngModelChange)="onChangeData($event)"
          nzShowSearch
          nzAllowClear
          style="width: 100%;"
          [nzDropdownRender]="lcConfig.action ? render : null"
        >
          <nz-option *ngFor="let option of lcConfig.enum" [nzLabel]="option.i18n" [nzValue]="option.value"></nz-option>
        </nz-select>
        <ng-template #render>
          <div class="add-item" (click)="lcConfig.action()"><i nz-icon nzType="plus"></i>&nbsp;{{ 'Tạo và sửa' | translate }}</div>
        </ng-template>
      </ng-container>
      <ng-container *ngIf="!lcType">
        <input nz-input [(ngModel)]="model" #control="ngModel" required (ngModelChange)="onChangeData($event)" />
      </ng-container>
    </nz-form-control>
  </nz-form-item>
</ng-container>
<!-- view -->
<ng-container *ngIf="lcView === 'view'">
  <div class="lc-view" nz-tooltip nzTooltipPlacement="topLeft" *ngIf="lcType === 'input' || lcType === 'textarea' || !lcType">
    <ellipsis [lines]="maxRow || (lcConfig && lcConfig.maxRow) || 1" tooltip>
      {{ lcValue }}
    </ellipsis>
  </div>
  <div
    class="lc-view"
    nz-tooltip
    nzTooltipPlacement="topLeft"
    nzTooltipTitle="{{ lcValue | currency: '':'':'1.0' }}"
    *ngIf="lcType === 'money'"
  >
    {{ lcValue | currency: '':'':'1.0' }}
  </div>
  <div
    class="lc-view"
    nz-tooltip
    nzTooltipPlacement="topLeft"
    nzTooltipTitle="{{ lcValue | date: 'dd/MM/yyyy' }}"
    *ngIf="lcType === 'date'"
  >
    {{ lcValue | date: 'dd/MM/yyyy' }}
  </div>
  <div
    class="lc-view"
    nz-tooltip
    nzTooltipPlacement="topLeft"
    nzTooltipTitle="{{ lcValue | date: 'dd/MM/yyyy HH:mm' }}"
    *ngIf="lcType === 'date-time'"
  >
    {{ lcValue | date: 'dd/MM/yyyy HH:mm' }}
  </div>

  <div
    class="lc-view"
    nz-tooltip
    nzTooltipPlacement="topLeft"
    nzTooltipTitle="{{ lcValue ? 'Đúng' : ('Sai' | translate) }}"
    *ngIf="lcType === 'checkbox' || lcType === 'switch'"
  >
    {{ lcValue ? 'Đúng' : ('Sai' | translate) }}
  </div>
  <div class="lc-view" nz-tooltip nzTooltipPlacement="topLeft" *ngIf="lcType === 'image'">
    <div class="avatar">
      <nz-avatar [nzShape]="'square'" nzIcon="picture" [nzSrc]="lcValue"> </nz-avatar>
    </div>
  </div>
  <div class="lc-view" nz-tooltip nzTooltipPlacement="topLeft" *ngIf="lcType === 'tag'">
    <ng-container *ngFor="let option of lcConfig.enum">
      <nz-tag *ngIf="option.value === lcValue" [nzColor]="option.color">{{ option.i18n | translate }}</nz-tag>
    </ng-container>
  </div>
</ng-container>
