<nz-table [nzData]="[{}]" [nzShowPagination]="false" nzSize="small" [nzFooter]="Footer"
  [nzScroll]="{ y: 'calc(100vh - 350px)',x: '1100px' }">
  <thead>
    <tr>
      <th *ngFor="let column of columns" class="lg-{{column.index}} {{column.class}}" [nzWidth]="column.width ">
        {{ column.i18n | translate}}</th>
      <th nzWidth="40px" nzRight="0px">
        #
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of datas;let dataIndex = index">
      <tr>
        <td *ngFor="let column of columns" class="lg-{{column.index}} {{column.class}}">
          <app-loki-control [lcType]="column.type" [lcConfig]="column.config" [(ngModel)]="data[column.index]">
          </app-loki-control>
        </td>
        <td nzRight="0px" class="lg-tool">
          <button nzSize="small" nzShape="circle" nzType="danger" nz-button (click)="deleteRow(dataIndex)">
            <i nz-icon nzType="delete" nzTheme="outline"></i> </button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</nz-table>
<ng-template #Footer>
  <a (click)="addRow()">{{'Thêm một dòng ...'| translate}}</a>
</ng-template>