:host ::ng-deep {
  .ant-card-body {
    position: relative;
    margin-top: 80px;
  }

  .avatar {
    position: absolute;
    top: -97px;
    left: calc(50% - 30px);
    margin-left: -20px;
  }
}

::ng-deep {
  body {
    &[data-theme='dark'] {
      .card-lock {
        .ant-card-body {
          background: rgba(0, 0, 0, 0.85);
        }
      }
    }
  }
}
