<div class="ant-card card-lock width-lg" style="margin: 0 auto;">
  <div class="ant-card-body">
    <div class="avatar">
      <nz-avatar [nzText]="NameKey" style="color: #f56a00; background-color: #fde3cf;" [nzSize]="120" [nzSrc]="NameAvatar" class="mr-sm">
      </nz-avatar>
    </div>
    <form nz-form [formGroup]="f" (ngSubmit)="submit()" role="form" class="mt-md">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzSuffixIcon="lock">
            <input type="password" nz-input formControlName="password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-row nzType="flex" nzAlign="middle">
        <nz-col [nzOffset]="12" [nzSpan]="12" style="text-align: right;">
          <button nz-button [disabled]="!f.valid" nzType="primary">{{ 'Mở khóa' | translate }}</button>
        </nz-col>
      </nz-row>
    </form>
  </div>
</div>
<div class="dummi" style="visibility: hidden;">
  {{ 'TRANG CHỦ' | translate }}
</div>
