@import '~@delon/theme/index';

// .home {
//   background-image: url(/assets/images/home-image.gif);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: 300px;
// }

:host ::ng-deep {
  .icon-group {
    i {
      margin-left: 16px;
      color: @text-color-secondary;
      cursor: pointer;
      transition: color 0.32s;

      &:hover {
        color: @text-color;
      }
    }
  }

  .rank-list {
    margin: 25px 0 0;
    padding: 0;
    list-style: none;

    li {
      .clearfix();

      display: flex;
      align-items: center;
      margin-top: 16px;

      span {
        color: @text-color;
        font-size: 14px;
        line-height: 22px;
      }

      .number {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-top: 1.5px;
        margin-right: 16px;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        background-color: @background-color-base;
        border-radius: 20px;

        &.active {
          color: #fff;
          background-color: #314659;
        }
      }

      .title {
        flex: 1;
        margin-right: 8px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .sales-extra {
    display: inline-block;
    margin-right: 24px;

    a {
      margin-left: 24px;
      color: @text-color;

      &:hover {
        color: @primary-color;
      }

      &.currentDate {
        color: @primary-color;
      }
    }
  }

  .sales-card {
    .bar {
      padding: 0 0 32px 32px;
    }

    .rank {
      padding: 0 32px 32px 72px;
    }

    .ant-tabs-bar {
      padding-left: 16px;

      .ant-tabs-nav .ant-tabs-tab {
        padding-top: 16px;
        padding-bottom: 14px;
        line-height: 24px;
      }
    }

    .ant-tabs-extra-content {
      padding-right: 24px;
      line-height: 55px;
    }

    .ant-card-head {
      position: relative;
    }

    .ant-card-head-title {
      align-items: normal;
    }
  }

  .sales-card-extra {
    height: inherit;
  }

  .sales-type-radio {
    position: absolute;
    right: 54px;
    bottom: 12px;
  }

  .offline-card {
    .ant-tabs-ink-bar {
      bottom: auto;
    }

    .ant-tabs-bar {
      border-bottom: none;
    }

    .ant-tabs-nav-container-scrolling {
      padding-right: 40px;
      padding-left: 40px;
    }

    .ant-tabs-tab-prev-icon::before {
      position: relative;
      left: 6px;
    }

    .ant-tabs-tab-next-icon::before {
      position: relative;
      right: 6px;
    }

    .ant-tabs-tab-active h4 {
      color: @primary-color;
    }
  }

  .trend-text {
    margin-left: 8px;
    color: @heading-color;
  }

  @media screen and (max-width: @screen-lg) {
    .sales-extra {
      display: none;
    }

    .rank-list {
      li {
        span:first-child {
          margin-right: 8px;
        }
      }
    }
  }

  @media screen and (max-width: @screen-md) {
    .rank-title {
      margin-top: 16px;
    }

    .sales-card .bar {
      padding: 16px;
    }
  }

  @media screen and (max-width: @screen-sm) {
    .sales-extra-wrap {
      display: none;
    }

    .sales-card {
      .ant-tabs-content {
        padding-top: 30px;
      }
    }
  }

  // fix pagination bottom
  .ant-table-pagination {
    margin-bottom: 0;
  }

  .g2-pie__legend-block .g2-pie__chart {
    margin: 0;
  }
}

.home {
  width: 100%;
  height: calc(100vh - 132px);
  margin: auto;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;

  h3 {
    width: 100%;
  }
}

.face2 {
  position: relative;
  display: none;
  width: 500px;
  height: 500px;
  padding: 50px;
  background: blue;
  border-radius: 50%;

  .hour {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: auto;
    color: transparent;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    background: transparent;
    // background: red;
    border-radius: 50%;
    cursor: pointer;

    &.active {
      color: white;
      background: rgb(110, 97, 97);
    }

    &:hover {
      color: white;
      background: red;
    }
  }

  .min {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: auto;
    color: transparent;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;

    &.active {
      color: white;
      background: rgb(110, 97, 97);
    }

    &:hover {
      color: white;
      background: green;
    }
  }

  .face {
    position: relative;
    width: 400px;
    height: 400px;
    margin: auto;
    background: black;
    border-radius: 50%;

    .letter {
      position: absolute;
      width: 40px;
      height: 40px;
      margin: auto;
      color: white;
      font-size: 14px;
      line-height: 40px;
      text-align: center;
      background: transparent;
      border-radius: 50%;
    }

    .digital {
      position: absolute;
      top: 150px;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100px;
      margin: auto;

      .item {
        color: white;
        font-size: 90px;
        font-family: monospace;
        line-height: 100px;
        text-align: right;
        background: transparent;
        border: none;
        cursor: pointer;

        &.focus {
          background: rgba(255, 0, 0, 0.65);
          border-radius: 4px;
        }

        &:hover {
          background: rgba(255, 0, 0, 0.65);
          border-radius: 4px;

          &.dis_div {
            background: transparent;
          }
        }

        &.dis_hour {
          text-align: right;
        }

        &.dis_min {
          text-align: left;
        }
      }
    }

    .apm {
      position: absolute;
      top: 250px;
      left: 259px;
      width: 65px;
      text-align: center;

      .item {
        color: white;
        font-size: 50px;
        font-family: monospace;
        line-height: 50px;
        text-align: center;
        background: transparent;
        border: none;
        cursor: pointer;

        &:hover {
          background: rgba(255, 0, 0, 0.65);
          border-radius: 4px;
        }
      }
    }
  }
}
