<div class="container layout-passport">
  <pro-langs class="langs" btnClass></pro-langs>
  <div class="wrap">
    <div class="top">
      <div class="head">
        <div class="logo passport-logo"></div>
        <br />
        <!-- <img class="logo passport-logo" src="./assets/logo-passport.png"> -->
        <!-- <span class="title">T2</span> -->
      </div>
      <!-- <div class="desc">TIN TỨC CHỨNG KHOÁN</div> -->
    </div>
    <router-outlet></router-outlet>
    <!-- <global-footer [links]="links">
      Copyright
      <i class="anticon anticon-copyright"></i>
      2019
      <a href="https://gitlab.com/loki" target="_blank">loki</a>
    </global-footer> -->
  </div>
</div>
