<form nz-form [formGroup]="form" id="loginForm" (ngSubmit)="submit()" role="form">
  <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="getUserNameError()">
      <nz-input-group nzSize="large" nzPrefixIcon="user">
        <input name="userName" nz-input formControlName="userName" placeholder="{{ 'Tên đăng nhập' | translate }}" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="getPasswordError()">
      <nz-input-group nzSize="large" nzPrefixIcon="lock">
        <input name="password" nz-input type="password" formControlName="password"
          placeholder=" {{ 'Nhập mật khẩu!' | translate }}" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-col [nzSpan]="12">
      <label nz-checkbox formControlName="remember">{{ 'Ghi nhớ đăng nhập' | translate }}</label>
    </nz-col>
    <!-- <nz-col [nzSpan]="12" class="text-right">
      <a class="forgot"
        (click)="msg.error('Chức năng đang được hoàn thiện')">{{ 'Quên mật khẩu' | translate }}</a>
    </nz-col> -->
  </nz-form-item>
  <nz-form-item>
    <button id="btnSubmit" nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="isLoading"
      nzBlock="true">
      {{ 'Đăng nhập' | translate }}
    </button>
  </nz-form-item>
</form>
<div></div>
<!-- <div class="other">
  {{ 'Đăng nhập với' | translate }}
  <i nz-tooltip="{{ 'Facebook' | translate }}" (click)="oathen('FB')" nz-icon nzType="facebook" class="icon"></i>
  <i nz-tooltip="{{ 'Google' | translate }}" (click)="oathen('GG')" nz-icon nzType="google" class="icon"></i>
  <a class="register" routerLink="/passport/register">{{ 'Đăng ký' | translate }}</a>
</div> -->