<span class="alain-pro__header-item" nz-dropdown [nzDropdownMenu]="menuTpl">{{settings.user.name}}&nbsp;
  <nz-avatar [nzText]="NameKey" style="color:#f56a00; background-color:#fde3cf;" [nzSrc]="NameAvatar" nzSize="large"
    class="mr-sm">
  </nz-avatar>
</span>
<nz-dropdown-menu nzPlacement="bottomRight" #menuTpl="nzDropdownMenu">
  <div nz-menu class="width-sm">
    <div nz-menu-item routerLink="/admin/user-profile">
      <i nz-icon nzType="user" class="mr-sm"></i>
      {{ 'Chi tiết tài khoản' | translate }}
    </div>
    <!-- <div nz-menu-item routerLink="/pro/account/settings">
      <i nz-icon nzType="setting" class="mr-sm"></i>
      {{ 'Cấu hình tài khoản' | translate }}
    </div> -->
    <li nz-menu-divider></li>
    <div nz-menu-item (click)="logout()">
      <i nz-icon nzType="logout" class="mr-sm"></i>
      {{ 'Đăng xuất' | translate }}
    </div>
  </div>
</nz-dropdown-menu>