<layout-pro-application class="hidden-xs float-left"></layout-pro-application>
<div class="dummy"></div>
<!--Search-->
<!-- <layout-pro-search class="hidden-xs"></layout-pro-search> -->
<!--Link-->
<!-- <a nz-tooltip nzTooltipTitle="使用文档" nzTooltipPlacement="bottom" class="hidden-xs" target="_blank"
  href="https://e.ng-alain.com/theme/pro" rel="noopener noreferrer" class="alain-pro__header-item">
  <i nz-icon nzType="question-circle"></i>
</a> -->
<!--Quick chat status-->
<!-- <quick-chat-status class="hidden-xs"></quick-chat-status> -->
<!--Notify-->
<!-- Lock Page -->
<div class="hidden-mobile">
  <div class="alain-default__nav-item locked-icon" routerLink="/passport/lock">
    <i nz-icon nzType="lock"></i>
  </div>
</div>
<layout-pro-notify class="hidden-xs"></layout-pro-notify>
<!--User-->
<layout-pro-user></layout-pro-user>
<!--Languages-->
<pro-langs></pro-langs>
<!--Quick panel-->
<!-- <layout-pro-quick class="hidden-xs"></layout-pro-quick> -->
