:host ::ng-deep {
  .status-item {
    .ant-form-item-control {
      margin-left: 0 !important;
    }
  }

  .custom-empty {
    nz-empty {
      height: calc(100vh - 248px);
    }
  }
}

.custom-node {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0;
  margin-bottom: -5px;
  margin-left: -5px;
  padding: 0;
  padding-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;

  .tool {
    position: absolute;
    top: 1px;
    right: 2px;
    display: none;
  }

  &:hover {
    .tool {
      display: block;
    }
  }
}

.title-group {
  display: flex;
  align-items: baseline;

  .main-title {
    order: 1;
    color: black;
    font-size: 18px;
  }

  .sub-title {
    order: 2;
    margin-left: 5px;
    padding-left: 5px;
    color: #aaa;
    font-size: 12px;
    border-left: 1px solid #aaa;
  }
}

.tab-left {
  padding-right: 0 !important;
}

.tab-right {
  padding-right: 0 !important;
}
