<page-header-wrapper [autoTitle]="true" class="full-page">
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
    <div nz-col class="mobiletab tab-left" [class.activetab]="activetab === 0" [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7">
      <nz-card class="full-card" [nzBodyStyle]="{ height: '100%' }" class="list-card">
        <nz-input-group [nzSuffix]="suffixIcon" [nzAddOnAfter]="addOnAfterTemplate">
          <input type="text" nz-input placeholder="{{ 'Nhập vào từ khóa' | translate }}" [(ngModel)]="searchValue" />
        </nz-input-group>
        <ng-template #suffixIcon>
          <i nz-icon nzType="search"></i>
        </ng-template>
        <ng-template #addOnAfterTemplate>
          <a (click)="addNew()">{{ 'Thêm' | translate }}</a>
        </ng-template>
        <nz-spin [nzSpinning]="loading">
          <nz-tree
            [nzData]="nodes"
            [nzSearchValue]="searchValue"
            [nzShowIcon]="true"
            [nzExpandedIcon]="expandedIconTpl"
            (nzClick)="onClickTree($event)"
            [nzTreeTemplate]="nzTreeTemplate"
          >
            <ng-template #nzTreeTemplate let-node>
              <span class="custom-node" [class.active]="activedNode?.key === node.key">
                {{ node.title }}&nbsp;&nbsp;
                <nz-tag *ngIf="!node.origin.status" [nzColor]="'red'">{{ 'Disabled' | translate }} </nz-tag>
                <div class="tool">
                  <i nz-icon (click)="delete(node)" [nzType]="'delete'" [nzTheme]="'twotone'" [nzTwotoneColor]="'red'"></i>
                </div>
              </span>
            </ng-template>
            <ng-template #expandedIconTpl let-node>
              <i *ngIf="node.origin.icon" nz-icon [nzType]="node.origin.icon"></i>
            </ng-template>
          </nz-tree>
        </nz-spin>
      </nz-card>
    </div>
    <div nz-col class="mobiletab tab-right" [class.activetab]="activetab === 1" [nzXs]="24" [nzSm]="24" [nzMd]="17" [nzLg]="17" [nzXl]="17">
      <nz-card class="full-card" [nzBodyStyle]="{ height: '100%' }" [nzExtra]="extraTemplate" [nzTitle]="extraTitle" class="list-card">
        <div class="custom-empty">
          <nz-empty *ngIf="!formData" [nzNotFoundContent]="contentTpl" [nzNotFoundFooter]="footerTpl">
            <ng-template #contentTpl>
              <span>{{ 'Cấu hình menu' | translate }} </span>
            </ng-template>
            <ng-template #footerTpl>
              <button nz-button nzType="primary" (click)="addNew()">{{ 'Thêm' | translate }}</button>
            </ng-template>
          </nz-empty>
        </div>
        <nz-spin [nzSpinning]="loading" *ngIf="formData">
          <sf
            class="custom-horizontal custom-transfer"
            *ngIf="formData && !isShowPermission"
            #sf
            mode="default"
            [schema]="schema"
            [ui]="ui"
            [layout]="layout"
            [formData]="formData"
            button="none"
          >
            <ng-template sf-template="/iconClass" let-me let-ui="ui" let-schema="schema">
              <nz-input-group [nzPrefix]="prefixTemplate">
                <input
                  type="text"
                  nz-input
                  [ngModel]="me.formProperty.value"
                  (input)="onInput($event.target?.value)"
                  (ngModelChange)="me.setValue($event)"
                  [nzAutocomplete]="auto"
                />
                <nz-autocomplete [nzBackfill]="false" #auto>
                  <nz-auto-option *ngFor="let item of listIcon" [nzValue]="item">
                    <i *ngIf="item != null" nz-icon [nzType]="item"></i> &nbsp; &nbsp;
                    <span> {{ item }} </span>
                  </nz-auto-option>
                </nz-autocomplete>
                <ng-template #prefixTemplate
                  ><i *ngIf="me.formProperty.value !== null" nz-icon [nzType]="me.formProperty.value"></i
                ></ng-template>
              </nz-input-group>
            </ng-template>
          </sf>
          <div class="permission" *ngIf="formData && isShowPermission">
            <app-right #rightComponent [groupCode]="'NAVIGATION.' + formData.code"></app-right>
          </div>
        </nz-spin>
      </nz-card>
      <ng-template #extraTemplate>
        <div *ngIf="!isShowPermission">
          <ng-container *ngIf="activedNode != null">
            <button
              class="reponsive-btn"
              nz-tooltip
              nzTooltipPlacement="topLeft"
              nzTooltipTitle="{{ 'Xóa đã chọn' | translate }}"
              nz-button
              [nzType]="'danger'"
              (click)="delete(activedNode)"
            >
              <i nz-icon nzType="delete" nzTheme="outline"></i>{{ 'Xóa' | translate }}
            </button>
          </ng-container>
          <button
            *ngIf="activedNode != null || formData"
            nz-button
            type="submit"
            nzType="primary"
            nz-tooltip
            nzTooltipPlacement="topLeft"
            nzTooltipTitle="{{ 'Lưu lại' | translate }}"
            (click)="save(sf?.value)"
            [disabled]="!sf?.valid"
          >
            {{ 'Lưu lại' | translate }}
          </button>
        </div>
      </ng-template>

      <ng-template #extraTitle>
        <div class="title-group" *ngIf="activedNode != null">
          <a [class.main-title]="!isShowPermission" [class.sub-title]="isShowPermission" (click)="toggglePermission(false)">
            {{ 'Thông tin' | translate }}
          </a>
          <a [class.main-title]="isShowPermission" [class.sub-title]="!isShowPermission" (click)="toggglePermission(true)">
            {{ 'Quyền' | translate }}
          </a>
        </div>
      </ng-template>
    </div>
  </div>
</page-header-wrapper>
<div class="navigatetab left" [class.activetab]="activetab === 1">
  <button nz-button nzType="primary" (click)="activetab = 0"><i nz-icon nzType="left"></i></button>
</div>
<div class="navigatetab right" [class.activetab]="activetab === 0">
  <button nz-button nzType="primary" (click)="activetab = 1"><i nz-icon nzType="right"></i></button>
</div>
