<div class="modal-header">
  <div class="modal-title">{{ title | translate }}</div>
</div>
<nz-spin [nzSpinning]="!formData || isLoadingForm" class="modal-spin">
  <sf
    *ngIf="formData"
    [disabled]="type === 'VIEW'"
    class="custom-horizontal custom-transfer"
    #sf
    mode="default"
    [schema]="schema"
    [ui]="ui"
    [layout]="layout"
    [formData]="formData"
    button="none"
  >
    <ng-template sf-template="/permission/rights" let-me let-ui="ui" let-schema="schema">
      <nz-input-group [nzSuffix]="suffixIcon">
        <input type="text" nz-input placeholder="{{ 'Nhập vào từ khóa' | translate }}" [(ngModel)]="searchValue" />
      </nz-input-group>
      <ng-template #suffixIcon>
        <i nz-icon nzType="search"></i>
      </ng-template>
      <!-- <nz-spin [nzSpinning]="isLoadingForm">
        <nz-tree [nzData]="nodes" nzCheckable="true" nzMultiple="true" [nzSearchValue]="searchValue"
          (nzCheckBoxChange)="onTreeCheckBox($event)" [nzExpandedIcon]="expandedIconTpl" [nzShowIcon]="true"
          [nzShowLine]="true">
        </nz-tree>
        <ng-template #expandedIconTpl let-node>
          <i *ngIf="node.origin.isGroup" nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'"
            class="ant-tree-switcher-line-icon"></i>
        </ng-template>
      </nz-spin> -->
      <nz-spin [nzSpinning]="loading">
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12">
            <div class="title">{{ 'Quyền menu' | translate }}</div>
            <nz-tree
              [nzData]="treeNav"
              nzCheckable="true"
              nzMultiple="true"
              [nzSearchValue]="searchValue"
              (nzCheckBoxChange)="onTreeCheckBox($event)"
              [nzShowIcon]="true"
              [nzShowLine]="true"
              [nzExpandedIcon]="expandedIconTpl"
            >
            </nz-tree>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12">
            <div class="title">{{ 'Quyền hệ thống' | translate }}</div>
            <nz-tree
              [nzData]="nodes"
              nzCheckable="true"
              nzMultiple="true"
              [nzSearchValue]="searchValue"
              (nzCheckBoxChange)="onTreeCheckBox($event)"
              [nzShowIcon]="true"
              [nzShowLine]="true"
              [nzExpandedIcon]="expandedIconTpl"
            >
            </nz-tree>
          </div>
        </div>
      </nz-spin>
      <ng-template #expandedIconTpl let-node>
        <i
          *ngIf="node.origin.isGroup"
          nz-icon
          [nzType]="node.isExpanded ? 'folder-open' : 'folder'"
          class="ant-tree-switcher-line-icon"
        ></i>
      </ng-template>
    </ng-template>

    <div class="modal-footer">
      <button nz-button type="button" (click)="close()">{{ 'Đóng' | translate }}</button>
      <button nz-button type="submit" nzType="primary" (click)="save(sf.value)" *ngIf="type !== 'VIEW'" [disabled]="!sf.valid">
        {{ 'Lưu lại' | translate }}
      </button>
    </div>
  </sf>
</nz-spin>
