@alain-pro-prefix: ~'.alain-pro';
@aside-collapsed-prefix: ~'.aside-collapsed';
@alain-pro-zindex: @zindex-base;
@alain-pro-ease: cubic-bezier(0.25, 0, 0.15, 1);

@alain-pro-header-height: 64px;
@alain-pro-header-bg: #fff;
@alain-pro-header-box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
@alain-pro-header-color: rgba(0, 0, 0, 0.65);
@alain-pro-header-hover-color: #000;
@alain-pro-header-hover-bg: rgba(0, 0, 0, 0.025);
@alain-pro-header-search-width: 210px;
@alain-pro-header-widgets-icon-fs: 16px;

@alain-pro-top-nav-only-icon-fs: 16px;

@alain-pro-light-color: #fff;
@alain-pro-light-slider-shadow: 2px 0 8px 0 rgba(29, 35, 41, 0.05);

@alain-pro-logo-font-size: 20px;
@alain-pro-logo-font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;

@alain-pro-content-margin: 24px;
@alain-pro-wide: 1200px;

@alain-pro-sider-menu-width: 256px;
@alain-pro-sider-menu-img-wh: 14px;

/**
 * 侧边栏固定时滚动条显示风格：
 * - hide: 隐藏滚动条（默认）
 * - show: 显示美化后滚动条
 */
@alain-pro-sider-fixed-scroll-mode: 'hide';
@alain-pro-sider-scrollbar-width: 0;
@alain-pro-sider-scrollbar-height: 0;
@alain-pro-sider-scrollbar-track-color: transparent;
@alain-pro-sider-scrollbar-thumb-color: transparent;

@brand-bordered-color: rgba(24, 28, 33, 0.06);
@brand-scroll-width: 20px;
