<div id="loki-grid-{{ gridID }}" class="loki-grid-holder">
  <ng-container *ngIf="lgConfig">
    <!-- SEARCH BAR -->
    <div class="search-bar" [class.advance]="lgConfig?.searchForm?.isOpenAdvance" *ngIf="lgConfig.searchMode !== 'none'">
      <div class="input-holder">
        <ng-container *ngIf="lgConfig.searchMode === 'allInOne'">
          <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
            <input
              nz-input
              nzSize="large"
              [(ngModel)]="lgData.filterText"
              (keyup.enter)="onSearch(true)"
              placeholder="{{ 'Nhập vào các từ khóa lọc cách nhau bởi ký tự ;' | translate }}"
              name="fiter"
              autofocus="true"
              id="fiter"
            />
          </nz-input-group>
          <ng-template #addOnBeforeTemplate>
            <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="filterbyMenu">
              <i nz-icon nzType="filter" nzTheme="outline"></i>
              &nbsp;
              <span class="filter-list">
                <ng-container *ngIf="isFilterAll">
                  <small>{{ 'Tất cả' | translate }}</small>
                </ng-container>
                <ng-container *ngIf="!isFilterAll">
                  <ng-container *ngFor="let column of getColumn('canFilter')">
                    <small *ngIf="column.selectFilter">{{ column.i18n | translate }}&nbsp;</small>
                  </ng-container>
                </ng-container>
              </span>
            </a>
            <nz-dropdown-menu #filterbyMenu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item>
                  <label
                    *ngIf="lgConfig.actionsMulti.length > 0"
                    nz-checkbox
                    [(ngModel)]="isFilterAll"
                    [nzDisabled]="isFilterAll"
                    (ngModelChange)="toggleAllFilter()"
                    >{{ 'Tất cả' | translate }}</label
                  >
                </li>
                <ng-container *ngFor="let column of getColumn('canFilter')">
                  <li nz-menu-item>
                    <label
                      nz-checkbox
                      (ngModelChange)="toggleItemFilter()"
                      [nzDisabled]="isOneFilter && column.selectFilter"
                      [(ngModel)]="column.selectFilter"
                      >{{ column.i18n | translate }}</label
                    >
                  </li>
                </ng-container>
              </ul>
            </nz-dropdown-menu>
          </ng-template>
        </ng-container>
        <ng-container *ngIf="lgConfig.searchMode === 'classic'">
          <form nz-form [nzLayout]="'inline'" class="search__form">
            <nz-form-item>
              <nz-form-control>
                <nz-input-group [nzSuffix]="suffixIconSearch">
                  <input
                    nz-input
                    [(ngModel)]="lgData.filterText"
                    [disabled]="lgConfig?.loading"
                    (keyup.enter)="onSearch(true)"
                    autofocus="true"
                    placeholder="{{ 'Nhập vào từ khóa tìm kiếm' | translate }}"
                    name="fiter"
                    id="fiter"
                  />
                  <ng-template #suffixIconSearch>
                    <ng-container *ngIf="lgConfig.searchForm && !lgConfig.searchForm.disableToggle">
                      <a
                        *ngIf="!lgConfig.searchForm.isOpenAdvance"
                        (click)="lgConfig.searchForm.isOpenAdvance = !lgConfig.searchForm.isOpenAdvance"
                      >
                        {{ 'Nâng cao' | translate }}</a
                      >
                      <a
                        *ngIf="lgConfig.searchForm.isOpenAdvance"
                        (click)="lgConfig.searchForm.isOpenAdvance = !lgConfig.searchForm.isOpenAdvance"
                      >
                        {{ 'Cơ bản' | translate }}</a
                      >
                    </ng-container>
                  </ng-template>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </form>
          <div class="advanced-form" (keyup.enter)="onSearch(true)" *ngIf="lgConfig.searchForm && lgConfig.searchForm.isOpenAdvance">
            <sf
              class="custom-horizontal custom-transfer"
              [disabled]="lgConfig?.loading"
              #sf
              layout="vertical"
              mode="default"
              [schema]="lgConfig.searchForm?.schema"
              [ui]="lgConfig.searchForm?.ui"
              [formData]="lgSearchData?.searchFormData"
              button="none"
            >
            </sf>
          </div>
        </ng-container>
      </div>
      <div class="filter-btn">
        <button
          nz-button
          type="button"
          (click)="onSearch(true)"
          [disabled]="lgConfig?.loading"
          [nzType]="'primary'"
          [nzLoading]="lgConfig?.loading"
        >
          <i nz-icon nzType="search" nzTheme="outline"></i>{{ 'Tìm kiếm' | translate }}
        </button>
        <button nz-button type="reset" (click)="onReset()" [disabled]="lgConfig?.loading" class="mx-sm">
          <i nz-icon nzType="menu" nzTheme="outline"></i>{{ 'Đặt lại' | translate }}
        </button>
      </div>
    </div>
    <div class="sub-search-bar" *ngIf="lgConfig.searchMode === 'allInOne'">
      <div class="tag-group">
        <ng-container *ngFor="let condition of lgData.conditions; let conditionIndex = index">
          <nz-tag
            nzMode="closeable"
            [class.selecting-tag]="condition.selecting"
            (dblclick)="selectCondition(condition)"
            (nzOnClose)="removeCondition(conditionIndex)"
          >
            {{ condition.display }}
            <span class="list-column">
              <ng-container *ngIf="condition.isFilterAll">{{ 'Tất cả' | translate }}</ng-container>
              <ng-container *ngIf="!condition.isFilterAll">
                <ng-container *ngFor="let column of condition.columns; let columnIndex = index">
                  <span>{{ column.i18n | translate }}&nbsp;</span>
                  <span *ngIf="columnIndex !== condition.columns.length - 1">,</span>
                </ng-container>
              </ng-container>
            </span>
            :&nbsp;
            <span class="list-terms">
              <ng-container *ngFor="let term of condition.terms; let termIndex = index">
                <span
                  ><strong> "{{ term }}"</strong>&nbsp;</span
                >
                <span *ngIf="termIndex !== condition.terms.length - 1">{{ 'hoặc' | translate }}</span>
              </ng-container>
            </span>
          </nz-tag>
        </ng-container>
      </div>
    </div>
    <!-- TOOL BAR -->
    <div class="tool-bar" [class.has-tag]="lgConfig.tagFilter">
      <div class="action-panel">
        <div class="action-btn">
          <ng-container *ngFor="let action of lgConfig.actionsSelf">
            <div [class]="action.class">
              <button
                class="reponsive-btn"
                nz-button
                (click)="action.action()"
                nz-tooltip
                nzTooltipPlacement="topLeft"
                nzTooltipTitle="{{ action.i18n | translate }}"
                [nzType]="'primary'"
              >
                <i nz-icon [nzType]="action.icon" nzTheme="outline"></i>
                <span>{{ action.i18n | translate }}</span>
              </button>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="tag-panel">
        <ng-container *ngIf="lgConfig.tagFilter">
          <tag-select>
            <nz-tag
              *ngFor="let i of lgConfig.tagFilter; let idx = index"
              nzMode="checkable"
              [(nzChecked)]="i.selected"
              (nzCheckedChange)="checkTag(i)"
              >{{ i.i18n | translate }}</nz-tag
            >
          </tag-select>
        </ng-container>
      </div>
      <div class="right-panel">
        <div class="action-select">
          <ng-container *ngFor="let action of lgConfig.actionsMulti">
            <div [class]="action.class">
              <button
                nz-button
                (click)="action.action(listSelected)"
                nz-tooltip
                nzTooltipPlacement="topLeft"
                nzTooltipTitle="{{ action.i18n | translate }}"
                class="reponsive-btn"
                [nzType]="action.type ? action.type : 'primary'"
                *ngIf="listSelected && listSelected.length >= 1"
              >
                <i nz-icon [nzType]="action.icon" nzTheme="outline"></i>
                <span>{{ action.i18n | translate }}</span>
              </button>
            </div>
          </ng-container>
        </div>
        <div class="group-by" *ngIf="canGroup">
          <button nz-button nz-dropdown nzTrigger="click" [nzDropdownMenu]="groupbyMenu">
            <i
              nz-icon
              nzType="tags"
              nzTheme="outline"
              nz-tooltip
              nzTooltipPlacement="topLeft"
              nzTooltipTitle="{{ 'Nhóm theo' | translate }}"
            ></i>
            <!-- <strong>{{ 'Nhóm theo' | translate }}:</strong> -->
            &nbsp;{{ groupPropName | translate }}
            <i nz-icon nzType="down"></i>
          </button>
          <nz-dropdown-menu #groupbyMenu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="processGroup()">
                {{ 'Không nhóm' | translate }}
              </li>
              <ng-container *ngFor="let column of getColumn('canGroup')">
                <li nz-menu-item (click)="processGroup(column)">
                  {{ column.i18n | translate }}
                </li>
              </ng-container>
            </ul>
          </nz-dropdown-menu>
        </div>
        <div class="display-toggle" *ngIf="lgConfig.displayMode === 'both'">
          <nz-radio-group [(ngModel)]="lgConfig.display" [nzButtonStyle]="'solid'" (ngModelChange)="toggleDisplay()">
            <label
              nz-radio-button
              nzValue="list"
              nz-tooltip
              nzTooltipPlacement="topLeft"
              nzTooltipTitle="{{ 'Dạng danh sách' | translate }}"
              [class.active]="lgConfig.display === 'list'"
              ><i nz-icon nzType="unordered-list" nzTheme="outline"></i
            ></label>
            <label
              nz-radio-button
              nzValue="grid"
              nz-tooltip
              nzTooltipPlacement="topLeft"
              nzTooltipTitle="{{ 'Dạng lưới' | translate }}"
              [class.active]="lgConfig.display === 'grid'"
              ><i nz-icon nzType="table" nzTheme="outline"></i
            ></label>
          </nz-radio-group>
        </div>
      </div>
    </div>
    <!-- DISPLAY LIST -->
    <ng-container *ngIf="lgConfig.display === 'grid'">
      <nz-table
        #expandTable
        cdkDropListGroup
        class="grid-table"
        nzSize="small"
        [nzData]="lgData.datas"
        [nzFrontPagination]="false"
        [nzShowPagination]="true"
        [nzTotal]="lgData.total"
        [nzPageSize]="lgData.ps"
        [nzPageIndex]="lgData.pi"
        [nzPageSizeOptions]="lgConfig.pageSizes"
        [nzShowQuickJumper]="lgConfig.showQuickJumper"
        [nzShowSizeChanger]="true"
        (nzPageIndexChange)="stChangePi($event)"
        (nzPageSizeChange)="stChangePs($event)"
        (nzQueryParams)="stChange($event, 'sort')"
        nzPaginationPosition="bottom"
        [nzLoading]="lgConfig?.loading"
        [nzHideOnSinglePage]="false"
        [nzScroll]="{ x: scrollX, y: scrollY }"
      >
        <thead nzSingleSort>
          <tr class="header-grid">
            <th
              *ngIf="lgConfig.actionsMulti.length > 0"
              nzShowCheckbox
              [nzDisabled]="editingRow && isHideSelectAll"
              [(nzChecked)]="isSelectAll"
              nzWidth="45px"
              nzLeft="0px"
              (nzCheckedChange)="checkAll($event)"
            >
              <span>
                {{ 'Chọn hết' | translate }}
              </span>
            </th>
            <th nzRight="0px" [nzWidth]="lgConfig.toolSize || '65px'" class="lg-tool tool-head" *ngIf="!lgConfig.noToolbar">
              <div class="sort-group">
                <strong>{{ 'Sắp xếp' | translate }}:</strong>&nbsp;
                <a nz-dropdown [nzDropdownMenu]="sortDirMenu">
                  {{ sortDirName | translate }}
                  <i nz-icon nzType="down"></i>
                </a>
                &nbsp;&nbsp;
                <a nz-dropdown [nzDropdownMenu]="sortPropMenu">
                  {{ sortPropName | translate }}
                  <i nz-icon nzType="down"></i>
                </a>
                &nbsp;&nbsp;
                <nz-dropdown-menu #sortDirMenu="nzDropdownMenu">
                  <ul nz-menu>
                    <li nz-menu-item (click)="doSortGrid('dir', 'ascend')">{{ 'Tăng dần' | translate }}</li>
                    <li nz-menu-item (click)="doSortGrid('dir', 'descend')">{{ 'Giảm dần' | translate }}</li>
                  </ul>
                </nz-dropdown-menu>
                <nz-dropdown-menu #sortPropMenu="nzDropdownMenu">
                  <ul nz-menu>
                    <ng-container *ngFor="let column of getColumn('canSort')">
                      <li nz-menu-item (click)="doSortGrid('prop', column.index)">
                        {{ column.i18n | translate }}
                      </li>
                    </ng-container>
                  </ul>
                </nz-dropdown-menu>
              </div>
            </th>
          </tr>
        </thead>
        <!-- summaryMode -->
        <ng-container>
          <tbody *ngIf="lgConfig.summaryMode === 'top' || lgConfig.summaryMode === 'both'" class="summary-grid">
            <tr>
              <td *ngIf="lgConfig.actionsMulti.length > 0"></td>
              <td *ngIf="lgConfig.expandColumn"></td>
              <td class="summary-label-td">
                <span class="summary-label" *ngIf="!lgConfig.summaryRender"> {{ 'Tổng số' | translate }}: </span>
              </td>
              <ng-container *ngIf="lgConfig.summaryRender">
                <td [colSpan]="lgConfig.columns.length" class="summary-content">
                  <ng-container
                    *ngTemplateOutlet="
                      lgConfig.summaryRender;
                      context: {
                        columns: lgConfig.columns,
                        datas: lgData.datas
                      }
                    "
                  >
                  </ng-container>
                </td>
              </ng-container>
              <ng-container *ngIf="!lgConfig.summaryRender">
                <ng-container *ngFor="let column of getColumn('selectVisible'); let indexColumn = index">
                  <td class="lg-{{ column.index }} {{ column.class }}">
                    <ng-container *ngIf="column.hasTotal && !column.getTotal">
                      <app-loki-control
                        lcView="view"
                        [lcValue]="getTotal(lgData.datas, column)"
                        [lcType]="column.type"
                        [lcConfig]="column.config"
                      >
                      </app-loki-control>
                    </ng-container>
                    <ng-container *ngIf="column.hasTotal && column.getTotal">
                      {{ column.getTotal(lgData.datas, column) }}
                    </ng-container>
                  </td>
                </ng-container>
              </ng-container>
              <td></td>
            </tr>
          </tbody>
        </ng-container>
        <ng-container *ngFor="let group of groupData; let groupIndex = index">
          <tbody *ngIf="!group.hiddenTitle">
            <tr class="row-group">
              <!-- TODO: Check all group -->
              <!-- <td nzShowCheckbox [(nzChecked)]="group.checked" (nzCheckedChange)="checkAllGroup(group,$event)"></td> -->
              <td [nzShowExpand]="true" [(nzExpand)]="group.expand" class="group-title">
                &nbsp;{{ group.name }}({{ group.datas.length }})
              </td>
              <td *ngIf="lgConfig.expandColumn"></td>
              <td *ngIf="lgConfig.actionsMulti.length > 0"></td>
              <ng-container *ngFor="let column of getColumn('selectVisible'); let indexColumn = index">
                <td class="lg-{{ column.index }} {{ column.class }}">
                  <ng-container *ngIf="column.hasTotal && !column.getTotal">
                    <app-loki-control
                      lcView="view"
                      [lcValue]="getTotal(group.datas, column)"
                      [lcType]="column.type"
                      [lcConfig]="column.config"
                    >
                    </app-loki-control>
                  </ng-container>
                  <ng-container *ngIf="column.hasTotal && column.getTotal">
                    {{ column.getTotal(group.datas, column) }}
                  </ng-container>
                </td>
              </ng-container>
              <td></td>
            </tr>
          </tbody>
          <tbody class="group-content grid-mode" cdkDropList (cdkDropListDropped)="onDropRow($event)" [cdkDropListData]="group.datas">
            <ng-container *ngFor="let data of group.datas; let dataIndex = index">
              <ng-container>
                <!-- TODO Add drag drop -->
                <tr *ngIf="dataIndex % 4 === 0" class="row-divider">
                  <td></td>
                </tr>
                <tr
                  *ngIf="group.expand"
                  [ngClass]="getRowClass(data)"
                  class="grid-row"
                  [class.row-grid-editing]="data.editing"
                  [class.first-item]="dataIndex % 4 === 0"
                >
                  <td
                    [nzShowCheckbox]="lgConfig.actionsMulti.length > 0"
                    [nzDisabled]="
                      editingRow ||
                      !(
                        !lgConfig.checkboxIf ||
                        lgConfig.checkboxIf(data, dataIndex + (groupIndex > 0 ? groupData[groupIndex - 1]?.datas?.length : 0))
                      )
                    "
                    [(nzChecked)]="data.checked"
                    (nzCheckedChange)="checkItem(group)"
                    class="grid-toolbar lg-tool"
                    *ngIf="!lgConfig.noToolbar"
                  >
                    <ng-container *ngIf="lgConfig.editMode === 'row'">
                      <a (click)="toggleFormRow(data)" *ngIf="!data.editing && !editingRow">
                        <i nz-icon nzType="edit" nzTheme="outline"></i>
                      </a>
                    </ng-container>
                    <ng-container *ngFor="let action of lgConfig.actionsSingle">
                      <a
                        *ngIf="!action.if || action.if(data, dataIndex + (groupIndex > 0 ? groupData[groupIndex - 1]?.datas?.length : 0))"
                        [class]="action.class + ' ' + action.type + ' menu-actionSingle'"
                        nz-tooltip
                        nzTooltipTitle="{{ action.i18n | translate }}"
                        (click)="action.action(data, dataIndex + (groupIndex > 0 ? groupData[groupIndex - 1]?.datas?.length : 0))"
                      >
                        <i nz-icon [nzType]="action.icon" nzTheme="outline"></i>
                      </a>
                    </ng-container>
                  </td>
                  <td [colSpan]="lgConfig.columns.length" class="grid-td">
                    <ng-container
                      *ngTemplateOutlet="
                        gridRender;
                        context: {
                          index: dataIndex + (groupIndex > 0 ? groupData[groupIndex - 1]?.datas?.length : 0),
                          data: data
                        }
                      "
                    >
                    </ng-container>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </ng-container>
        <!-- summaryMode -->
        <ng-container>
          <tbody
            *ngIf="(lgConfig.summaryMode === 'bottom' || lgConfig.summaryMode === 'both') && lgData.datas.length > 0"
            class="summary-row no-empty summary-grid"
          >
            <tr>
              <td *ngIf="lgConfig.actionsMulti.length > 0"></td>
              <td *ngIf="lgConfig.expandColumn"></td>
              <td class="summary-label-td">
                <span class="summary-label" *ngIf="!lgConfig.summaryRender"> {{ 'Tổng số' | translate }}: </span>
              </td>
              <ng-container *ngIf="lgConfig.summaryRender">
                <td [colSpan]="lgConfig.columns.length" class="summary-content">
                  <ng-container
                    *ngTemplateOutlet="
                      lgConfig.summaryRender;
                      context: {
                        columns: lgConfig.columns,
                        datas: lgData.datas
                      }
                    "
                  >
                  </ng-container>
                </td>
              </ng-container>
              <ng-container *ngIf="!lgConfig.summaryRender">
                <ng-container *ngFor="let column of getColumn('selectVisible'); let indexColumn = index">
                  <td class="lg-{{ column.index }} {{ column.class }}">
                    <ng-container *ngIf="column.hasTotal && !column.getTotal">
                      <app-loki-control
                        lcView="view"
                        [lcValue]="getTotal(lgData.datas, column)"
                        [lcType]="column.type"
                        [lcConfig]="column.config"
                      >
                      </app-loki-control>
                    </ng-container>
                    <ng-container *ngIf="column.hasTotal && column.getTotal">
                      {{ column.getTotal(lgData.datas, column) }}
                    </ng-container>
                  </td>
                </ng-container>
              </ng-container>
              <td></td>
            </tr>
          </tbody>
        </ng-container>
      </nz-table>
    </ng-container>

    <!-- ------------------------- -->
    <ng-container *ngIf="lgConfig.display === 'list'">
      <nz-table
        nzSize="small"
        cdkDropListGroup
        #expandTable
        [nzData]="lgData.datas"
        [nzFrontPagination]="false"
        [nzShowPagination]="true"
        [nzTotal]="lgData.total"
        [nzPageIndex]="lgData.pi"
        [nzPageSize]="lgData.ps"
        [nzPageSizeOptions]="lgConfig.pageSizes"
        [nzShowQuickJumper]="lgConfig.showQuickJumper"
        [nzShowSizeChanger]="true"
        (nzPageIndexChange)="stChangePi($event)"
        (nzPageSizeChange)="stChangePs($event)"
        (nzQueryParams)="stChange($event, 'sort')"
        nzPaginationPosition="bottom"
        [nzLoading]="lgConfig?.loading"
        [nzHideOnSinglePage]="false"
        [nzScroll]="{ x: scrollX, y: scrollY }"
      >
        <thead nzSingleSort>
          <tr>
            <th
              *ngIf="lgConfig.actionsMulti.length > 0"
              nzShowCheckbox
              [nzDisabled]="editingRow && isHideSelectAll"
              [(nzChecked)]="isSelectAll"
              nzWidth="45px"
              nzLeft="0px"
              (nzCheckedChange)="checkAll($event)"
            ></th>

            <ng-container>
              <th nzLeft="0px" nzWidth="45px" *ngIf="lgConfig.expandColumn"></th>
              <th nzWidth="80px" style="text-align: center">
                <span> {{ 'STT' | translate }}</span>
              </th>
              <th
                *ngFor="let column of getColumn('selectVisible')"
                class="lg-{{ column.index }} {{ column.class }}"
                [nzWidth]="column.width || (isMobileTable ? column.minWidth : null)"
                [nzColumnKey]="column.index"
                [nzSortFn]="column.canSort"
              >
                {{ column.i18n | translate }}
              </th>
            </ng-container>
            <th class="lg-dummy" *ngIf="getColumn('dummy').length === 0"></th>
            <th nzRight="0px" [nzWidth]="lgConfig.toolSize || '65px'" class="lg-tool tool-head" *ngIf="!lgConfig.noToolbar">
              <div class="sort-group">
                <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="columnsDisplay">
                  <i nz-icon nzType="more" nzTheme="outline"></i>
                </a>
                <nz-dropdown-menu #columnsDisplay="nzDropdownMenu">
                  <ul nz-menu>
                    <li nz-menu-item>
                      <label nz-checkbox [(ngModel)]="isVisibleAll" (ngModelChange)="toggleAllVisible()">{{ 'Tất cả' | translate }}</label>
                    </li>
                    <li nz-menu-item *ngFor="let column of lgConfig.columns">
                      <label
                        nz-checkbox
                        [nzDisabled]="column.onTop"
                        (ngModelChange)="toggleItemVisible()"
                        [(ngModel)]="column.selectVisible"
                        >{{ column.i18n | translate }}</label
                      >
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </div>
            </th>
          </tr>
        </thead>

        <!-- summaryMode -->
        <ng-container>
          <tbody *ngIf="lgConfig.summaryMode === 'top' || lgConfig.summaryMode === 'both'">
            <tr>
              <td *ngIf="lgConfig.actionsMulti.length > 0"></td>
              <td *ngIf="lgConfig.expandColumn"></td>
              <td class="summary-label-td">
                <span class="summary-label" *ngIf="!lgConfig.summaryRender"> {{ 'Tổng số' | translate }}: </span>
              </td>
              <ng-container *ngIf="lgConfig.summaryRender">
                <td [colSpan]="lgConfig.columns.length" class="summary-content">
                  <ng-container
                    *ngTemplateOutlet="
                      lgConfig.summaryRender;
                      context: {
                        columns: lgConfig.columns,
                        datas: lgData.datas
                      }
                    "
                  >
                  </ng-container>
                </td>
              </ng-container>
              <ng-container *ngIf="!lgConfig.summaryRender">
                <ng-container *ngFor="let column of getColumn('selectVisible'); let indexColumn = index">
                  <td class="lg-{{ column.index }} {{ column.class }}">
                    <ng-container *ngIf="column.hasTotal && !column.getTotal">
                      <app-loki-control
                        lcView="view"
                        [lcValue]="getTotal(lgData.datas, column)"
                        [lcType]="column.type"
                        [lcConfig]="column.config"
                      >
                      </app-loki-control>
                    </ng-container>
                    <ng-container *ngIf="column.hasTotal && column.getTotal">
                      {{ column.getTotal(lgData.datas, column) }}
                    </ng-container>
                  </td>
                </ng-container>
              </ng-container>
              <td></td>
            </tr>
          </tbody>
        </ng-container>
        <ng-container *ngFor="let group of groupData; let groupIndex = index">
          <tbody *ngIf="!group.hiddenTitle">
            <tr class="row-group">
              <!-- TODO: Check all group -->
              <!-- <td nzShowCheckbox [(nzChecked)]="group.checked" (nzCheckedChange)="checkAllGroup(group,$event)"></td> -->
              <td [nzShowExpand]="true" [(nzExpand)]="group.expand" class="group-title">
                &nbsp;{{ group.name }}({{ group.datas.length }})
              </td>
              <td *ngIf="lgConfig.expandColumn"></td>
              <td *ngIf="lgConfig.actionsMulti.length > 0"></td>
              <ng-container *ngFor="let column of getColumn('selectVisible'); let indexColumn = index">
                <td class="lg-{{ column.index }} {{ column.class }}">
                  <ng-container *ngIf="column.hasTotal && !column.getTotal">
                    <app-loki-control
                      lcView="view"
                      [lcValue]="getTotal(group.datas, column)"
                      [lcType]="column.type"
                      [lcConfig]="column.config"
                    >
                    </app-loki-control>
                  </ng-container>
                  <ng-container *ngIf="column.hasTotal && column.getTotal">
                    {{ column.getTotal(group.datas, column) }}
                  </ng-container>
                </td>
              </ng-container>
              <td></td>
            </tr>
          </tbody>
          <tbody class="group-content" cdkDropList (cdkDropListDropped)="onDropRow($event)" [cdkDropListData]="group.datas">
            <ng-container *ngFor="let data of group.datas; let dataIndex = index">
              <ng-container>
                <tr
                  *ngIf="group.expand"
                  cdkDrag
                  [cdkDragDisabled]="!lgConfig.canDragDrop || editingRow"
                  [class.not-editing]="!data.editing && editingRow"
                  [ngClass]="getRowClass(data)"
                  [class.first-item]="dataIndex % 4 === 0"
                >
                  <td
                    nzLeft="0px"
                    nzShowCheckbox
                    [(nzChecked)]="data.checked"
                    [nzDisabled]="
                      editingRow ||
                      !(
                        !lgConfig.checkboxIf ||
                        lgConfig.checkboxIf(data, dataIndex + (groupIndex > 0 ? groupData[groupIndex - 1]?.datas?.length : 0))
                      )
                    "
                    class="lg-checkbox"
                    *ngIf="lgConfig.actionsMulti.length > 0"
                    (nzCheckedChange)="checkItem(group)"
                  ></td>
                  <td nzLeft="0px" *ngIf="lgConfig.expandColumn" [nzShowExpand]="lgConfig.expandColumn" [(nzExpand)]="data.expand"></td>
                  <td style="text-align: center">
                    {{ dataIndex + 1 + lgData.ps * (lgData.pi - 1) }}
                  </td>
                  <td
                    *ngFor="let column of getColumn('selectVisible')"
                    (click)="column.click && column.click(data)"
                    class="lg-{{ column.index }} {{ column.class }} {{ column.click ? 'link-item' : '' }}"
                  >
                    <ng-container *ngIf="!data.editing">
                      <!-- display column content -->
                      <ng-container *ngIf="getColumnDisplay(column) === 'format'">
                        <app-loki-control
                          lcView="view"
                          [lcValue]="
                            column.format(data, column, dataIndex + (groupIndex > 0 ? groupData[groupIndex - 1]?.datas?.length : 0))
                          "
                          [lcType]="column.type"
                          [lcConfig]="column.config"
                        >
                        </app-loki-control>
                      </ng-container>
                      <ng-container *ngIf="getColumnDisplay(column) === 'raw'">
                        <app-loki-control lcView="view" [lcValue]="data[column.index]" [lcType]="column.type" [lcConfig]="column.config">
                        </app-loki-control>
                      </ng-container>

                      <ng-container *ngIf="getColumnDisplay(column) === 'render'">
                        <ng-container
                          *ngTemplateOutlet="
                            column.render;
                            context: {
                              data: data,
                              column: column,
                              index: dataIndex + (groupIndex > 0 ? groupData[groupIndex - 1]?.datas?.length : 0),
                              model: {
                                raw: data[column.index],
                                changed: data[column.index]
                              },
                              dataEmit: dataEmit
                            }
                          "
                        >
                        </ng-container>
                      </ng-container>

                      <ng-container *ngIf="getColumnDisplay(column) === 'editable'">
                        <ng-container
                          *ngTemplateOutlet="
                            editTpl;
                            context: {
                              data: data,
                              column: column,
                              index: dataIndex + (groupIndex > 0 ? groupData[groupIndex - 1]?.datas?.length : 0),
                              model: {
                                raw: data[column.index],
                                changed: data[column.index]
                              },
                              dataEmit: dataEmit
                            }
                          "
                        >
                        </ng-container>
                      </ng-container>
                    </ng-container>
                    <ng-container *ngIf="data.editing">
                      <app-loki-control [lcType]="column.type" [lcConfig]="column.config" [(ngModel)]="data.model[column.index]">
                      </app-loki-control>
                    </ng-container>
                  </td>
                  <td class="lg-dummy" *ngIf="getColumn('dummy').length === 0"></td>
                  <td nzRight="0px" class="lg-tool" *ngIf="!lgConfig.noToolbar">
                    <ng-container *ngIf="lgConfig.editMode === 'row'">
                      <button
                        nzSize="small"
                        (click)="toggleFormRow(data)"
                        *ngIf="!data.editing && !editingRow"
                        nzShape="circle"
                        nz-button
                        nzType="primary"
                      >
                        <i nz-icon nzType="edit" nzTheme="outline"></i>
                      </button>
                      <div class="tool-group">
                        <button nzSize="small" *ngIf="data.editing" nzShape="circle" nz-button nzType="primary" (click)="saveRow(data)">
                          <i nz-icon nzType="check" nzTheme="outline"></i>
                        </button>
                        <button nzSize="small" *ngIf="data.editing" nzShape="circle" nz-button (click)="revertRow(data)">
                          <i nz-icon nzType="close" nzTheme="outline"></i>
                        </button>
                      </div>
                    </ng-container>

                    <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="actionRow" *ngIf="lgConfig.actionsSingle.length > 3">
                      <i nz-icon nzType="more" nzTheme="outline"></i>
                    </a>
                    <nz-dropdown-menu #actionRow="nzDropdownMenu">
                      <ul nz-menu>
                        <ng-container *ngFor="let action of lgConfig.actionsSingle">
                          <ng-container
                            *ngIf="
                              !action.if || action.if(data, dataIndex + (groupIndex > 0 ? groupData[groupIndex - 1]?.datas?.length : 0))
                            "
                          >
                            <li
                              nz-menu-item
                              [class]="action.class + ' menu-actionSingle'"
                              (click)="action.action(data, dataIndex + (groupIndex > 0 ? groupData[groupIndex - 1]?.datas?.length : 0))"
                            >
                              <i nz-icon [nzType]="action.icon" nzTheme="outline"></i>&nbsp;{{ action.i18n | translate }}
                            </li>
                          </ng-container>
                        </ng-container>
                      </ul>
                    </nz-dropdown-menu>

                    <ng-container *ngIf="lgConfig.actionsSingle.length > 0 && lgConfig.actionsSingle.length <= 3">
                      <ng-container *ngFor="let action of lgConfig.actionsSingle">
                        <ng-container
                          *ngIf="!action.if || action.if(data, dataIndex + (groupIndex > 0 ? groupData[groupIndex - 1]?.datas?.length : 0))"
                        >
                          <a
                            [class]="action.class + ' ' + action.type + ' menu-actionSingle'"
                            (click)="action.action(data, dataIndex + (groupIndex > 0 ? groupData[groupIndex - 1]?.datas?.length : 0))"
                            nz-tooltip
                            nzTooltipPlacement="topLeft"
                            nzTooltipTitle="{{ action.i18n | translate }}"
                          >
                            <i nz-icon [nzType]="action.icon" nzTheme="outline"></i>
                          </a>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </td>
                </tr>
                <!-- Expand -->
                <tr *ngIf="data.expand && lgConfig.expandColumn">
                  <td *ngIf="lgConfig.actionsMulti.length > 0"></td>
                  <td *ngIf="lgConfig.expandColumn"></td>
                  <td
                    [colSpan]="lgConfig.columns.length + 1"
                    (click)="lgConfig.expandColumn.click && lgConfig.expandColumn.click(data)"
                    class="lg-{{ lgConfig.expandColumn.index }} {{ lgConfig.expandColumn.class }} {{
                      lgConfig.expandColumn.click ? 'link-item' : ''
                    }}"
                  >
                    <!-- display column content -->
                    <ng-container *ngIf="getColumnDisplay(lgConfig.expandColumn) === 'format'">
                      {{
                        lgConfig.expandColumn.format(
                          data,
                          lgConfig.expandColumn,
                          dataIndex + (groupIndex > 0 ? groupData[groupIndex - 1]?.datas?.length : 0)
                        )
                      }}
                    </ng-container>

                    <ng-container *ngIf="getColumnDisplay(lgConfig.expandColumn) === 'raw'">
                      <app-loki-control
                        lcView="view"
                        [lcValue]="data[lgConfig.expandColumn.index]"
                        [lcType]="lgConfig.expandColumn.type"
                        [lcConfig]="lgConfig.expandColumn.config"
                      >
                      </app-loki-control>
                    </ng-container>

                    <ng-container *ngIf="getColumnDisplay(lgConfig.expandColumn) === 'render'">
                      <ng-container
                        *ngTemplateOutlet="
                          lgConfig.expandColumn.render;
                          context: {
                            data: data,
                            column: lgConfig.expandColumn,
                            index: dataIndex + (groupIndex > 0 ? groupData[groupIndex - 1]?.datas?.length : 0),
                            model: {
                              raw: data[lgConfig.expandColumn.index],
                              changed: data[lgConfig.expandColumn.index]
                            },
                            dataEmit: dataEmit
                          }
                        "
                      >
                      </ng-container>
                    </ng-container>

                    <ng-container *ngIf="getColumnDisplay(lgConfig.expandColumn) === 'editable'">
                      <ng-container
                        *ngTemplateOutlet="
                          editTpl;
                          context: {
                            data: data,
                            column: lgConfig.expandColumn,
                            index: dataIndex + (groupIndex > 0 ? groupData[groupIndex - 1]?.datas?.length : 0),
                            model: {
                              raw: data[lgConfig.expandColumn.index],
                              changed: data[lgConfig.expandColumn.index]
                            },
                            dataEmit: dataEmit
                          }
                        "
                      >
                      </ng-container>
                    </ng-container>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </ng-container>
        <!-- summaryMode -->
        <ng-container>
          <tbody
            *ngIf="(lgConfig.summaryMode === 'bottom' || lgConfig.summaryMode === 'both') && lgData.datas.length > 0"
            class="summary-row no-empty"
          >
            <tr>
              <td *ngIf="lgConfig.actionsMulti.length > 0"></td>
              <td *ngIf="lgConfig.expandColumn"></td>
              <td class="summary-label-td">
                <span class="summary-label" *ngIf="!lgConfig.summaryRender"> {{ 'Tổng số' | translate }}: </span>
              </td>
              <ng-container *ngIf="lgConfig.summaryRender">
                <td [colSpan]="lgConfig.columns.length" class="summary-content">
                  <ng-container
                    *ngTemplateOutlet="
                      lgConfig.summaryRender;
                      context: {
                        columns: lgConfig.columns,
                        datas: lgData.datas
                      }
                    "
                  >
                  </ng-container>
                </td>
              </ng-container>
              <ng-container *ngIf="!lgConfig.summaryRender">
                <ng-container *ngFor="let column of getColumn('selectVisible'); let indexColumn = index">
                  <td class="lg-{{ column.index }} {{ column.class }}">
                    <ng-container *ngIf="column.hasTotal && !column.getTotal">
                      <app-loki-control
                        lcView="view"
                        [lcValue]="getTotal(lgData.datas, column)"
                        [lcType]="column.type"
                        [lcConfig]="column.config"
                      >
                      </app-loki-control>
                    </ng-container>
                    <ng-container *ngIf="column.hasTotal && column.getTotal">
                      {{ column.getTotal(lgData.datas, column) }}
                    </ng-container>
                  </td>
                </ng-container>
              </ng-container>
              <td></td>
            </tr>
          </tbody>
        </ng-container>
      </nz-table>
    </ng-container>
  </ng-container>

  <!-- gridRender -->
  <ng-template #gridRender let-data="data" let-index="index">
    <h1 class="edit-title">{{ 'Cập nhật' | translate }}</h1>
    <div class="grid-item-content">
      <div class="avatar" *ngIf="lgConfig.avatarProp">
        <nz-avatar [nzShape]="'square'" nzIcon="user" [nzSize]="80" [nzSrc]="data[lgConfig.avatarProp]"></nz-avatar>
        <br />
        <span>
          {{ index + 1 + lgData.ps * (lgData.pi - 1) }}
        </span>
      </div>
      <div class="info">
        <div *ngFor="let column of getColumn('selectVisible')" [class]="column.class + ' info-item ' + column.index">
          <ng-container *ngIf="column.index !== lgConfig.avatarProp">
            <span
              class="info-item-title"
              nz-tooltip
              nzTooltipPlacement="topLeft"
              *ngIf="!column.hideTitleInGrid"
              nzTooltipTitle="{{ column.i18n | translate }}"
            >
              {{ column.sort_i18n | translate }}:&nbsp;
            </span>
            <span class="info-item-value" (click)="column.click && column.click(data)" [class.link-item]="column.click">
              <ng-container *ngIf="!data.editing">
                <!-- display column content -->
                <ng-container *ngIf="getColumnDisplay(column) === 'format'">
                  {{ column.format(data, column, index) }}
                </ng-container>
                <ng-container *ngIf="getColumnDisplay(column) === 'raw'">
                  <app-loki-control
                    lcView="view"
                    [lcValue]="data[column.index]"
                    [lcType]="column.type"
                    [lcConfig]="column.config"
                    [maxRow]="1"
                  >
                  </app-loki-control>
                </ng-container>
                <ng-container *ngIf="getColumnDisplay(column) === 'render'">
                  <ng-container
                    *ngTemplateOutlet="
                      column.render;
                      context: {
                        data: data,
                        column: column,
                        model: {
                          raw: data[column.index],
                          changed: data[column.index]
                        },
                        dataEmit: dataEmit
                      }
                    "
                  >
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="getColumnDisplay(column) === 'editable'">
                  <ng-container
                    *ngTemplateOutlet="
                      editTpl;
                      context: {
                        data: data,
                        column: column,
                        model: {
                          raw: data[column.index],
                          changed: data[column.index]
                        },
                        dataEmit: dataEmit
                      }
                    "
                  >
                  </ng-container>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="data.editing">
                <app-loki-control [lcType]="column.type" [lcConfig]="column.config" [(ngModel)]="data.model[column.index]">
                </app-loki-control>
              </ng-container>
            </span>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="tool-group grid-view" *ngIf="data.editing">
      <button nz-button nzType="primary" (click)="saveRow(data)">
        <i nz-icon nzType="check" nzTheme="outline"></i>&nbsp;{{ 'Lưu' | translate }}
      </button>
      <button nz-button (click)="revertRow(data)"><i nz-icon nzType="close" nzTheme="outline"></i>&nbsp;{{ 'Hủy' | translate }}</button>
    </div>
  </ng-template>

  <!-- editTpl -->
  <ng-template #editTpl let-data="data" let-column="column" let-index="index" let-model="model">
    <div class="editable-content" [class.active]="model.active">
      <div class="value-mode" (click)="model.active = true" *ngIf="!model.active">
        <app-loki-control lcView="view" [lcValue]="model.changed" [lcType]="column.type"> </app-loki-control>
      </div>
      <div class="edit-mode" *ngIf="model.active">
        <app-loki-control [lcType]="column.type" [lcConfig]="column.config" [(ngModel)]="model.changed"> </app-loki-control>
        &nbsp;&nbsp;&nbsp;
        <a
          nz-popconfirm
          nzPopconfirmTitle=" {{ 'Bạn có muốn thay đổi dữ liệu?' | translate }}"
          *ngIf="model.changed !== model.raw"
          (nzOnConfirm)="dataEmit(data, model); model.active = false"
          (nzOnCancel)="dataRevert(data, model); model.active = false"
          nzPopconfirmPlacement="topLeft"
        >
          <i nz-icon nzType="check" nzTheme="outline"></i>
        </a>
      </div>
    </div>
  </ng-template>
</div>
