.row-group {
  background: #f6ffed;

  .group-title {
    max-width: 100px;
    font-weight: bold;
    white-space: nowrap;
    text-align: left;
  }

  &:hover {
    td {
      background: rgb(104, 96, 96);
    }
  }
}

.cdk-drag-preview {
  display: table;
  height: unset !important;
  padding: 8px;
  font-weight: bold;
  background: #52c41a;

  .lg-tool {
    visibility: hidden;
  }

  .lg-checkbox {
    visibility: hidden;
  }
}

.row-active-status {
  color: red;
}

.tool-bar {
  display: flex;

  @media screen and (max-width: 767px) {
    position: relative;

    &.has-tag {
      margin-bottom: 35px;

      .tag-panel {
        position: absolute;
        top: 38px;
        left: 8px;
        display: block;
      }
    }

    .action-panel {
      align-self: end;
      padding-right: 0;

      .action-btn {
        display: flex;

        .button {
          margin-right: 8px;
        }
      }
    }
  }

  align-items: flex-end;
  justify-content: space-around;
  margin-bottom: 8px;

  .tag-panel {
    margin-bottom: 8px;
    padding-right: 15px;
    text-align: left;

    ::ng-deep {
      .tag-select__trigger {
        display: none;
      }

      .tag-select {
        margin-bottom: -7px;
      }
    }
  }

  .action-panel {
    padding-right: 15px;
    text-align: left;

    ::ng-deep {
      .tag-select__trigger {
        display: none;
      }

      .tag-select {
        margin-bottom: -7px;
      }
    }

    .action-btn {
      display: flex;

      button {
        margin-right: 8px;
      }
    }
  }

  .right-panel {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    min-width: fit-content;
    text-align: left;

    .action-select {
      button {
        margin-right: 8px;
      }
    }

    .group-by {
      margin-right: 8px;

      :first-child {
        font-size: 12px;
      }
    }

    .filter-by {
      margin-right: 8px;

      :first-child {
        font-size: 12px;
      }
    }

    .display-toggle {
      color: black;
      // .active {
      //   color: white;
      //   background: #4b91ff;
      // }
    }
  }
}

.search-bar {
  display: flex;
  align-items: flex-end;
  margin-bottom: -18px;

  &.advance {
    .search__form {
      margin-bottom: -24px !important;
      padding-right: 15px;

      @media screen and (max-width: 767px) {
        margin-bottom: 4px !important;
        padding-right: 0 !important;
      }
    }

    .input-holder {
      flex-grow: 1;
    }

    .filter-btn {
      margin-bottom: 25px;
    }
  }

  .input-holder {
    // flex-grow: 1;
    width: 45%;
  }

  .filter-btn {
    margin-right: -8px;
    margin-bottom: 24px;
    margin-left: 8px;
    padding-right: 0;
    text-align: right;
  }

  @media screen and (max-width: 991px) {
    .input-holder {
      width: 55%;

      .ant-form-item-label {
        display: none;
      }
    }
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;

    .input-holder {
      width: 100%;
    }
  }
}

.sub-search-bar {
  display: flex;
  margin-bottom: 8px;
}

.group-content {
  &.grid-mode {
    display: table-cell;
    width: 100%;

    .row-divider {
      float: left;
      width: 100% !important;
      height: 0;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background: transparent;
      border: none;
    }

    .grid-row {
      display: flex;
      float: left;
      width: calc(25% - 16px) !important;
      margin-top: 8px;
      margin-bottom: 8px;
      margin-left: 21px;
      overflow: hidden;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

      @media screen and (max-width: 1599px) {
        width: calc(50% - 32px) !important;

        &.first-item {
          margin-left: 21px !important;
        }
      }

      @media screen and (max-width: 991px) {
        width: 100% !important;
        margin: 0;
        border: none;
        box-shadow: none;

        &.first-item {
          margin-left: 0 !important;
        }
      }

      &.first-item {
        margin-left: 0;
      }

      .grid-td {
        flex-grow: 1;
        padding-left: 0;
      }

      .edit-title {
        display: none;
      }

      &.row-grid-editing {
        .edit-title {
          display: block;
        }

        .info {
          font-size: unset;
        }

        position: fixed;
        top: 15%;
        z-index: 99999;
        width: calc(70vw) !important;
        margin: auto;
        background: white !important;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

        &::after {
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: -1;
          background: rgba(0, 0, 0, 0.45);
          content: ' ';
        }

        .grid-toolbar {
          display: none;
        }

        .grid-td {
          flex-grow: 1;
          padding-left: 16px;
          background: white !important;
        }
      }
    }
  }
}

.grid-item-content {
  display: flex;

  .avatar {
    margin-top: 16px;
    margin-right: 12px;
    text-align: center;
  }

  .info {
    flex-grow: 1;
    font-size: 12px;

    .info-item {
      display: flex;
      max-width: 100%;
      margin-bottom: 8px;
      overflow: hidden;

      .info-item-title {
        position: relative;
        display: inline;
        font-weight: bold;
        white-space: pre;
      }

      .info-item-value {
        position: relative;
      }
    }
  }
}

.row-grid-editing {
  .info {
    flex-grow: 1;
    font-size: 12px;

    .info-item {
      display: flex;
      align-items: baseline;
      margin-bottom: 16px;

      .title {
        position: relative;
        width: 120px;
        font-weight: bold;
      }

      .value {
        position: relative;
        flex-grow: 1;
      }
    }
  }
}

.filter-list {
  small {
    &::after {
      content: ',';
    }
  }

  :last-child {
    &::after {
      content: ' ';
    }
  }
}

.selecting-tag {
  background: #4b91ff2e;
  border: 1px solid #4b91ff;
}

.grid-toolbar {
  display: flex;
  flex-direction: column;

  label {
    position: relative;
    right: 3px;
  }

  i {
    margin-top: 8px;
  }
}

.header-grid {
  display: inline;
  display: flex;
  justify-content: space-between;

  :first-child {
    flex-grow: 1;
    text-align: left;
  }

  th {
    display: inline;
    background: white;
  }
}

.editable-content {
  .value-mode {
    display: block;
    text-decoration: underline;
    cursor: pointer;
    text-decoration-style: dotted;
  }

  .edit-mode {
    display: none;
  }

  &.active {
    .value-mode {
      display: none;
    }

    .edit-mode {
      display: flex;
      align-content: center;
      align-items: center;
    }
  }
}

.tool-group {
  display: flex;
  margin-left: -6px;

  &.grid-view {
    display: block;
    width: 100%;
    padding: 0;
    text-align: right;
  }
}

.not-editing {
  background: rgba(0, 0, 0, 0.05);
  pointer-events: none;
}

.summary-grid {
  tr {
    display: flex;
    width: 100%;

    td {
      display: block;

      &.summary-content {
        flex-grow: 1;
      }
    }
  }
}

.menu-actionSingle {
  padding: 1px 4px;
}

.lg-tool {
  padding: 0;
  text-align: right;
  background: white;

  &.hide {
    visibility: hidden;
  }

  a {
    &.danger {
      color: #ff4d4f;
    }
  }
}

::ng-deep {
  .no-empty {
    .ant-empty {
      display: none;
    }
  }

  .ant-table-td-left-sticky {
    background: white;
  }

  .ant-table table {
    table-layout: fixed !important;
  }

  .grid-table {
    .ant-table-small {
      border: none;
    }

    .ant-table table {
      table-layout: auto !important;
    }

    .ant-table-selection-column {
      display: flex !important;

      span {
        position: relative;
        left: -2px;
        margin-left: 8px;
        outline: none !important;
      }
    }
  }
}

.sort-group {
  text-align: right !important;
}

.summary-row {
  font-weight: bold;
  background: #f6ffed;
}

.summary-label-td {
  position: relative;
}

.summary-label {
  position: absolute;
  bottom: 0.5em;
  left: 1em;
  z-index: 999;
  white-space: nowrap;
}

.link-item {
  color: #73d13d;
  cursor: pointer;

  &:hover {
    color: red;
  }
}

.advanced-form {
  ::ng-deep {
    @media screen and (max-width: 767px) {
      margin-top: 0;
      margin-bottom: 14px;
    }

    .ant-form-item-label > label {
      position: relative;
      top: 7px;
      display: inline-flex;
      align-items: center;
      height: unset;
      padding: 0;
      color: rgba(0, 0, 0, 0.85);
      font-size: 14px;

      @media screen and (max-width: 767px) {
        top: 0;
      }
    }
  }
}

.loki-grid-holder {
  @media screen and (max-width: 767px) {
    th,
    td {
      font-size: 12px;
    }
  }
}
