// 可以通过 https://ng-alain.github.io/ng-alain/ 获取主题参数代码
// The theme paraments can be generated at https://ng-alain.github.io/ng-alain/
@primary-color: #52c41a;

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

.ant-table-fixed {
  table-layout: fixed;
}

// alain-pro__content-fluid
//   layout-fixed
//   screen-xl
//   alain-pro__content-fixed
//   alain-pro__fixed
//   alain-pro__wide
//   alain-pro__dark
//   .alain-pro__light {
//   .alain-pro__sider {
//     .alain-pro__sider-logo {
//       position: relative;
//       overflow: unset;
//       &::after {
//         position: absolute;
//         right: -30px;
//         bottom: -50px;
//         left: -44px;
//         z-index: 999999;
//         height: 53px;
//         overflow: hidden;
//         color: rgb(45, 51, 60);
//         font-size: 144px;
//         letter-spacing: -33px;
//         -webkit-transform: rotate(180deg);
//         transform: rotate(180deg);
//         content: '• • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • ';
//       }
//     }
//     &.ant-layout-sider-collapsed {
//       .alain-pro__sider-logo {
//         &::after {
//           content: '';
//         }
//       }
//     }
//   }
//   .alain-pro__header-fixed {
//     position: relative;
//     overflow: unset;
//     &::after {
//       position: absolute;
//       right: -30px;
//       bottom: -50px;
//       left: -44px;
//       z-index: 999999;
//       height: 53px;
//       overflow: hidden;
//       color: rgb(45, 51, 60);
//       font-size: 144px;
//       letter-spacing: -33px;
//       -webkit-transform: rotate(180deg);
//       transform: rotate(180deg);
//       content: '• • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • ';
//     }
//   }
// }
// .alain-pro {
//   .alain-pro__sider {
//     .alain-pro__sider-logo {
//       position: relative;
//       overflow: unset;
//       &::after {
//         position: absolute;
//         right: -30px;
//         bottom: -45px;
//         left: -44px;
//         z-index: 999999;
//         height: 45px;
//         overflow: hidden;
//         color: #0c2140;
//         font-size: 144px;
//         letter-spacing: -33px;
//         -webkit-transform: rotate(180deg);
//         transform: rotate(180deg);
//         content: '• • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • ';
//       }
//     }
//     &.ant-layout-sider-collapsed {
//       .alain-pro__sider-logo {
//         &::after {
//           content: '';
//         }
//       }
//     }
//   }
//   &.alain-pro__wide {
//     .alain-pro__header-fixed {
//       position: relative;
//       overflow: unset;
//       &::after {
//         position: absolute;
//         right: -30px;
//         bottom: -45px;
//         left: -44px;
//         z-index: 999999;
//         height: 45px;
//         overflow: hidden;
//         color: #0c2140;
//         font-size: 144px;
//         letter-spacing: -33px;
//         -webkit-transform: rotate(180deg);
//         transform: rotate(180deg);
//         content: '• • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • ';
//       }
//     }
//   }
//   &.alain-pro__light {
//     .alain-pro__sider {
//       .alain-pro__sider-logo {
//         &::after {
//           color: #e4e4e4 !important;
//         }
//       }
//     }
//     &.alain-pro__wide {
//       .alain-pro__header-fixed {
//         &::after {
//           color: #e4e4e4 !important;
//         }
//       }
//     }
//   }
// }
