.title {
  font-weight: bold;
  font-size: 16px;
}

.sub-title {
  font-size: 16px;
}

.list-app {
  .item {
    display: inline-block;
    width: 100%;
    padding: 5px 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;

    &.active {
      color: black;
      background: #aaa;
    }

    &:hover {
      color: black;
      background: #aaa;
    }
  }
}

.full-card-modal {
  height: calc(100vh - 400px);
}
