<div class="modal-header">
  <div class="modal-title">{{ 'Phân quyền' | translate }}</div>
</div>
<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="10" [nzLg]="10" [nzXl]="10">
    <div class="title">{{ 'Hệ thống' | translate }}</div>
    <nz-card class="full-card-modal" [nzBodyStyle]="{ height: '100%', padding: '0px' }">
      <div class="list-app">
        <div
          class="item"
          [class.active]="selected.appId === app.id"
          nz-tooltip
          nzTooltipPlacement="right"
          nzTooltipTitle="{{ app.name }}"
          *ngFor="let app of listApp"
          (click)="onSelectedApp(app)"
        >
          {{ app.name }}
        </div>
      </div>
    </nz-card>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="14" [nzLg]="14" [nzXl]="14">
    <div class="title">{{ 'Phân quyền' | translate }}</div>
    <nz-card class="full-card-modal" [nzBodyStyle]="{ height: '100%', padding: '10px' }">
      <div>
        <div class="sub-title">{{ 'Nhóm người dùng' | translate }}</div>
        <nz-select
          nzMode="multiple"
          nzPlaceHolder="Chọn nhóm người dùng"
          [(ngModel)]="selected.listRole"
          autofocus="true"
          (ngModelChange)="changeRole($event)"
          style="width: 100%;"
        >
          <nz-option *ngFor="let role of listRole" [nzLabel]="role.name" [nzValue]="role.id"></nz-option>
        </nz-select>
      </div>
      <br />
      <div>
        <div class="sub-title">{{ 'Người dùng' | translate }}</div>
        <nz-select
          nzMode="multiple"
          nzPlaceHolder="Chọn người dùng"
          [(ngModel)]="selected.listUser"
          (ngModelChange)="changeUser($event)"
          style="width: 100%;"
        >
          <nz-option *ngFor="let user of listUser" [nzLabel]="user.name" [nzValue]="user.id"></nz-option>
        </nz-select>
      </div>
    </nz-card>
  </div>
</div>
