<page-header-wrapper class="full-page" [breadcrumb]="breadcrumb" title="{{ 'Chi tiết tài khoản' | translate }}">
  <nz-card [nzBordered]="false" class="full-page-card">
    <nz-spin [nzSpinning]="!formData || isLoadingForm" class="modal-spin">
      <sf
        *ngIf="formData"
        class="custom-horizontal custom-upload custom-transfer"
        #sf
        mode="default"
        [schema]="schema"
        [ui]="ui"
        [layout]="layout"
        [formData]="formData"
        button="none"
      >
        <ng-template sf-template="/common/group2/avatarUrl" let-me let-ui="ui" let-schema="schema">
          <div class="square">
            <div class="content">
              <nz-upload
                nzType="drag"
                class="avatar-uploader"
                nzShowButton="true"
                nzAction=""
                nzAccept="image/*"
                [nzCustomRequest]="customReq"
                nzName="avatar"
                nzListType="picture-card"
                [nzShowUploadList]="false"
              >
                <div class="upload-region" [class.haveAvatar]="avatarUrl">
                  <div class="upload-btn">
                    <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
                    <div class="ant-upload-text">{{ 'Tải lên' | translate }}</div>
                  </div>
                </div>
                <img *ngIf="avatarUrl" [src]="fileHost + '/' + avatarUrl" class="avatar" alt="avatar" />
              </nz-upload>
            </div>
          </div>
        </ng-template>
        <ng-template sf-template="/common/group1/password" let-me let-ui="ui" let-schema="schema">
          <a (click)="changePassword()">Thay đổi</a>
        </ng-template>
        <div class="modal-footer">
          <button nz-button type="submit" nzType="primary" (click)="save(sf.value)" [disabled]="!sf.valid">
            {{ 'Lưu lại' | translate }}
          </button>
        </div>
      </sf>
    </nz-spin>
  </nz-card>

  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item
        ><a [routerLink]="['/']">{{ 'TRANG CHỦ' | translate }}</a></nz-breadcrumb-item
      >
      <nz-breadcrumb-item
        ><a>{{ 'Chi tiết tài khoản' | translate }}</a></nz-breadcrumb-item
      >
    </nz-breadcrumb>
  </ng-template>
</page-header-wrapper>
