<result
  type="success"
  [title]="title"
  description="{{
    'Một email kích hoạt có hiệu lực 24h đã được gửi tới hòm thư của bạn. Vui lòng kiểm tra và truy cập link để kích hoạt tài khoản.'
      | translate
  }}"
>
  <ng-template #title>
    <div class="title" style="font-size: 20px;">
      {{ 'Tài khoản đã được đăng ký tại' | translate: params }}
    </div>
  </ng-template>
  <button (click)="msg.success('email')" nz-button nzSize="large" [nzType]="'primary'">
    {{ 'Kiểm tra hòm thư' | translate }}
  </button>
  <button routerLink="/" nz-button nzSize="large">
    {{ 'Quay về trang chủ' | translate }}
  </button>
</result>
