<nz-drawer [(nzVisible)]="collapse" [nzWidth]="300" (nzOnClose)="toggle()">
  <div class="setting-drawer__content">
    <div class="setting-drawer__body setting-drawer__theme">
      <h3 class="setting-drawer__title">{{ 'Chủ đề' | translate }}</h3>
      <layout-theme-btn [(theme)]="theme" #ltb></layout-theme-btn>
    </div>
    <div class="setting-drawer__body setting-drawer__theme hide-mobile" *ngIf="theme == 'default'">
      <h3 class="setting-drawer__title">{{ 'Màu chủ đề' | translate }}</h3>
      <span
        *ngFor="let c of colors"
        (click)="changeColor(c.color)"
        nz-tooltip
        [nzTooltipTitle]="'Màu: ' + c.key | translate"
        class="setting-drawer__theme-tag"
        [ngStyle]="{ 'background-color': c.color }"
      >
        <i *ngIf="color === c.color" nz-icon nzType="check"></i>
      </span>
    </div>
    <nz-divider></nz-divider>
    <div class="setting-drawer__body">
      <h3 class="setting-drawer__title">{{ 'Cài đặt kiểu pages' | translate }}</h3>
      <div class="setting-drawer__blockChecbox">
        <div
          *ngFor="let t of themes"
          class="setting-drawer__blockChecbox-item"
          (click)="setLayout('theme', t.key)"
          nz-tooltip="{{ t.title | translate }}"
        >
          <img src="{{ t.img }}" alt="{{ t.key }}" />
          <div *ngIf="layout.theme === t.key" class="setting-drawer__blockChecbox-selectIcon">
            <i nz-icon nzType="check"></i>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="setting-drawer__body hide-mobile">
      <h3 class="setting-drawer__title">{{ 'Loại điều hướng' | translate }}</h3>
      <div class="setting-drawer__blockChecbox">
        <div
          *ngFor="let t of menuModes"
          class="setting-drawer__blockChecbox-item"
          (click)="setLayout('menu', t.key)"
          nz-tooltip="{{ t.title | translate }}"
        >
          <img src="{{ t.img }}" alt="{{ t.key }}" />
          <div *ngIf="layout.menu === t.key" class="setting-drawer__blockChecbox-selectIcon">
            <i nz-icon nzType="check"></i>
          </div>
        </div>
      </div>
      <div class="setting-drawer__body-item hide-mobile">
        {{ 'Nội dung với' | translate }}
        <nz-select [(ngModel)]="layout.contentWidth" (ngModelChange)="setLayout('contentWidth', layout.contentWidth)" nzSize="small">
          <nz-option
            *ngFor="let i of contentWidths"
            [nzLabel]="i.title | translate"
            [nzValue]="i.key"
            [nzDisabled]="i.disabled"
          ></nz-option>
        </nz-select>
      </div>
      <div class="setting-drawer__body-item hide-mobile">
        {{ 'Cố định header' | translate }}
        <nz-switch
          nzSize="small"
          [(ngModel)]="layout.fixedHeader"
          (ngModelChange)="setLayout('fixedHeader', layout.fixedHeader)"
        ></nz-switch>
      </div>
      <div
        class="setting-drawer__body-item hide-mobile"
        nz-tooltip="{{ !brand.fixedHeader ? ('Chỉ hoạt động khi kích hoạt ẩn header' | translate) : '' }}"
        nzTooltipPlacement="left"
      >
        <span [style.opacity]="!brand.fixedHeader ? 0.5 : 1">{{ 'Tự động ẩn header khi cuộn' | translate }}</span>
        <nz-switch
          [nzDisabled]="!brand.fixedHeader"
          nzSize="small"
          [(ngModel)]="layout.autoHideHeader"
          (ngModelChange)="setLayout('autoHideHeader', layout.autoHideHeader)"
        ></nz-switch>
      </div>
      <div
        class="setting-drawer__body-item hide-mobile"
        nz-tooltip="{{ brand.menu === 'top' ? ('Chỉ tác dụng với layout menu dọc' | translate) : '' }}"
        nzTooltipPlacement="left"
      >
        <span [style.opacity]="brand.menu === 'top' ? 0.5 : 1">{{ 'Cố định menu dọc' | translate }}</span>
        <nz-switch
          [nzDisabled]="brand.menu === 'top'"
          nzSize="small"
          [(ngModel)]="layout.fixSiderbar"
          (ngModelChange)="setLayout('fixSiderbar', layout.fixSiderbar)"
        ></nz-switch>
      </div>
      <div
        class="setting-drawer__body-item hide-mobile"
        nz-tooltip="{{ brand.menu === 'top' ? '' : ('Chỉ hiện icon.hint' | translate) }}"
        nzTooltipPlacement="left"
      >
        <span [style.opacity]="brand.menu !== 'top' ? 0.5 : 1">{{ 'Chỉ hiện icon' | translate }}</span>
        <nz-switch
          [nzDisabled]="brand.menu !== 'top'"
          nzSize="small"
          [(ngModel)]="layout.onlyIcon"
          (ngModelChange)="setLayout('onlyIcon', layout.onlyIcon)"
        ></nz-switch>
      </div>
      <div class="setting-drawer__body-item">
        {{ 'Chế độ mù màu' | translate }}
        <nz-switch nzSize="small" [(ngModel)]="layout.colorWeak" (ngModelChange)="setLayout('colorWeak', layout.colorWeak)"></nz-switch>
      </div>
    </div>
    <!-- <button (click)="copy()" type="button" nz-button nzBlock>{{ 'Sao chép cấu hình' | translate }}</button>
    <nz-alert class="mt-md" nzType="warning"
      nzMessage="{{ 'Cài đặt chỉ hiển thị ở môi trường develop, vui lòng cấu hình.' | translate }}"></nz-alert> -->
  </div>
</nz-drawer>

<div class="setting-drawer__handle" [ngClass]="{ 'setting-drawer__handle-opened': collapse }" (click)="toggle()">
  <i nz-icon [nzType]="!collapse ? 'setting' : 'close'" class="setting-drawer__handle-icon"></i>
</div>
