<div class="loki-money">
  <nz-input-group [nzAddOnAfter]="lmPrefix">
    <input
      class="loki-money-display"
      type="text"
      nz-input
      (ngModelChange)="changeInput($event)"
      (keypress)="numberOnly($event)"
      [(ngModel)]="lokiMoneyFomart"
      [placeholder]="lmPlaceHolder"
      [disabled]="lmDisabled"
      [autofocus]="lmAutoFocus"
      (blur)="onBlurMethod()"
    />
  </nz-input-group>
</div>
