<div class="modal-header">
  <div class="modal-title">{{ title | translate }}</div>
</div>
<nz-spin [nzSpinning]="!formData || isLoadingForm" class="modal-spin">
  <sf
    *ngIf="formData"
    class="custom-horizontal custom-upload custom-transfer"
    #sf
    mode="default"
    [schema]="schema"
    [ui]="ui"
    [layout]="layout"
    [formData]="formData"
    size="small"
    button="none"
  >
    <ng-template sf-template="/common/group2/avatarUrl" let-me let-ui="ui" let-schema="schema">
      <div class="square">
        <div class="content">
          <nz-upload
            nzType="drag"
            nzAccept="image/*"
            class="avatar-uploader"
            nzAction=""
            [nzCustomRequest]="customReq"
            nzName="avatar"
            nzListType="picture-card"
            [nzShowUploadList]="false"
          >
            <div class="upload-region" [class.haveAvatar]="avatarUrl">
              <div class="upload-btn">
                <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
                <div class="ant-upload-text">{{ 'Tải lên' | translate }}</div>
              </div>
            </div>
            <img *ngIf="avatarUrl" [src]="fileHost + '/' + avatarUrl" class="avatar" alt="avatar" />
          </nz-upload>
        </div>
      </div>
    </ng-template>

    <div class="modal-footer">
      <button nz-button type="button" (click)="close()">{{ 'Đóng' | translate }}</button>
      <button nz-button type="submit" nzType="primary" (click)="save(sf.value)" [disabled]="!sf.valid">{{ 'Lưu lại' | translate }}</button>
    </div>
  </sf>
</nz-spin>
