// Custom CSS
// hide page title
.page-header__detail {
  display: none;
}
.alain-pro__page-header-content {
  margin: 8px 8px 0 !important;
}

.page-header .ant-breadcrumb {
  margin-top: -8px;
  margin-bottom: 8px;
}

.alain-pro__footer {
  display: none;
}

.ant-card-body {
  padding: 16px 16px 16px 16px;
  zoom: 1;
}

.list-card {
  min-height: calc(100vh - 130px);
}

.ant-select-disabled {
  color: unset;
}

.alain-pro__header-right {
  justify-content: space-between;
  width: 100%;

  .dummy {
    flex-grow: 1;
  }
}

.ant-modal-close {
  right: 0 !important;
  left: unset !important;
}

.st__filter.anticon-search {
  right: 50;
}

.reuse-tab {
  margin-left: 0 !important;
  padding: 0 !important;
}

.custom-horizontal {
  text-align: left !important;

  &.sf__horizontal {
    .ant-form-item-label > label {
      justify-content: flex-start !important;
    }
  }

  .ant-form-item-label {
    justify-content: flex-start !important;
    text-align: left !important;
  }

  .ant-form-item-label > label::after {
    position: relative !important;
    top: -0.5px !important;
    margin: 0 8px 0 2px !important;
    content: ':' !important;
  }

  .ant-form-item-required {
    &::before {
      position: relative;
      top: 1px;
      right: 7px !important;
      order: 1;
      content: '(*)' !important;

      @media screen and (max-width: 767px) {
        right: -5px !important;
      }
    }

    &::after {
      position: relative !important;
      top: -0.5px !important;
      margin: 0 8px 0 20px !important;
      content: ':' !important;
    }
  }

  &.top-toolbar {
    position: relative;
    padding-top: 50px;

    .modal-footer {
      position: absolute;
      top: 0;
      width: 100%;
      margin: -10px 0 0 0;
      border-top: none;
      border-bottom: 1px solid #e8e8e8;
      border-radius: 0;
    }
  }
}

.custom-radio {
  .ant-form-item {
    text-align: center !important;
    .ant-radio-group {
      display: flex;
      :first-child {
        &.ant-radio-button-wrapper-checked {
          &:hover {
            color: white !important;
          }
          background: #52c41a !important;
          color: white !important;
          border: none !important;
        }
      }

      :last-child {
        &:hover {
          color: #f5222d !important;
        }
        &.ant-radio-button-wrapper-checked {
          &:hover {
            color: white !important;
          }
          background: #f5222d !important;
          color: white !important;
          border: none !important;
        }
      }
    }
  }
}

.full-page-card {
  min-height: calc(100vh - 179px);
}

.custom-upload {
  .ant-upload-drag {
    height: 100% !important;
    overflow: hidden;
  }

  .square {
    position: relative;
    width: 100%;
    margin: auto;

    &::after {
      display: block;
      padding-bottom: 100%;
      content: '';
    }

    .content {
      position: absolute;
      width: 100%;
      height: 100%;

      .avatar-uploader {
        display: unset;

        .avatar {
          width: 100%;
        }
      }

      .upload-region {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: calc(50% - 41px);

        .upload-btn {
          display: block;
          width: 116px;
          margin: auto;
          padding: 20px 10px 14px 10px;
          border-radius: 4px;
        }
      }

      .haveAvatar {
        opacity: 0;
      }

      &:hover {
        .haveAvatar {
          opacity: 1;

          .upload-btn {
            opacity: 0.8;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.custom-transfer {
  .ant-transfer-list {
    width: calc(50% - 25px) !important;
  }
}

.full-card {
  height: calc(100vh - 200px);
}

.full-card-modal {
  height: calc(100vh - 350px);
}

.navigatetab {
  display: none;
}

.padding-10 {
  padding: 10px;
}

.ant-table-thead > tr > th .ant-table-header-column {
  width: 100%;

  .ant-table-column-title {
    width: 100%;

    .st__filter.ant-table-filter-icon {
      float: right;
      margin-right: -50px;
    }
  }
}

.ant-table-column-title > span {
  width: 100%;
}

.ant-layout-sider,
.alain-pro__top-nav {
  .logo-desktop-collapsed {
    display: none;
  }

  .logo-desktop {
    display: block;
    height: 50px;
    margin-top: 8px;
  }

  &.ant-layout-sider-collapsed {
    .logo-desktop-collapsed {
      display: block;
      width: 50px;
      height: 50px;
    }

    .logo-desktop {
      display: none;
    }
  }
}

.passport-logo {
  margin: auto;
  background: url(/assets/logo-dark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header-logo-mobile {
  width: 32px;
  height: 32px;
  background: url(/assets/logo-dark.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.logo-desktop {
  width: 100%;
  background: url(/assets/logo-long-dark.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.logo-desktop-collapsed {
  width: 100%;
  background: url(/assets/logo-dark.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.alain-pro__dark {
  .passport-logo {
    margin: auto;
    background: url(/assets/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .header-logo-mobile {
    width: 32px;
    height: 32px;
    background: url(/assets/logo-dark.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .logo-desktop {
    width: 100%;
    background: url(/assets/logo-long.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .logo-desktop-collapsed {
    width: 100%;
    background: url(/assets/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.ant-menu-vertical.ant-menu-sub,
.ant-menu-vertical-left.ant-menu-sub,
.ant-menu-vertical-right.ant-menu-sub {
  min-width: 220px;
}

// CUSTOM TABLE CARD
.custom-card-table {
  .ant-table {
    border: none;

    .ant-table-body {
      margin: 0;
      padding: 0;
    }

    .ant-table-thead {
      display: none;
    }

    tr {
      td {
        margin: 0;
        padding: 0 !important;
        border: none;
      }

      th {
        margin: 0;
        padding: 0;
        border: none;
      }
    }
  }
}

.menu-bage {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999999;
  display: block;
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  color: white;
  font-size: 13px;
  text-align: center;
  background: red;
  border-radius: 50%;

  .menu-bage-item {
    margin-top: -10px;
  }
}

.custom-form-number {
  .ant-input-number {
    width: 100% !important;

    input {
      text-align: left !important;
    }

    .ant-input-number-handler-wrap {
      display: none;
    }
  }
}

.custom-form-money {
  input {
    text-align: left !important;
  }
}

.custom-form-label {
  .ant-form-item-label {
    label {
      font-weight: bold;
      text-transform: uppercase;

      &::after {
        display: none;
      }
    }
  }

  .ant-form-item-control-wrapper {
    display: none;
  }
}

.custom-form-label-2 {
  .ant-form-item-label {
    label {
      display: none;
      font-weight: bold;
      text-transform: uppercase;

      &::after {
        display: none;
      }
    }
  }

  .ant-form-item-control-wrapper {
    font-weight: bold;
    text-align: center;
  }
}

.custom-input-label {
  .ant-form-item-control {
    padding-left: 12px;
  }

  input {
    border: none;
    pointer-events: none;
  }
}

.reponsive-btn {
  @media screen and (max-width: 767px) {
    span {
      display: none;
    }
  }
}

.alain-pro__menu-only-icon .alain-pro__menu-item {
  @media screen and (max-width: 767px) {
    &:first-child {
      margin-left: 8px;
    }

    i {
      margin-right: 8px;
    }
  }
}

.ant-tree .ant-tree-node-content-wrapper {
  width: 100%;
}

.ant-row {
  width: 100%;
}

@media (max-width: 767px) {
  .ant-form .ant-form-item .ant-form-item-label,
  .ant-form .ant-form-item .ant-form-item-control {
    width: 100% !important;
    max-width: 100% !important;
  }

  .ant-row,
  .ant-col {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .custom-two-panel > div > :last-child {
    order: -1;
  }
}

.tag-select .ant-tag {
  margin-right: 5px !important;
}

.ant-btn {
  padding: 4px 6px;
}

.ant-tree .ant-tree-checkbox {
  top: initial;
  margin: 4px 0 0 0;
}

.ant-input-number {
  width: 100% !important;
}

sf-item {
  width: 100% !important;
}

@media (max-width: 767px) {
  nz-transfer {
    display: flex;
    flex-direction: column;
  }

  .custom-transfer .ant-transfer-list {
    width: 104% !important;
  }

  .ant-transfer-operation {
    width: 36px;
    transform: rotate(90deg);
  }
}

.ant-transfer-list {
  height: calc(100vh - 580px) !important;
}

nz-tree {
  &.ant-tree {
    height: calc(100vh - 220px) !important;
    margin-top: 15px;
    overflow: auto;
  }
}

.ant-form-item-control.ant-col {
  padding: 0;
}
