@media screen and (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
  .ant-table-rep__title {
    text-align: left !important;
  }
  .nz-disable-td {
    width: 100vw !important;
  }

  .ant-table-td-left-sticky,
  .ant-table-td-right-sticky {
    background: unset;
  }

  .ant-table-rep__title {
    font-size: 12px;
    text-align: left;
  }

  .custom-horizontal {
    .sf__fixed {
      display: block !important;

      .ant-form-item-label {
        width: 100% !important;
        text-align: left;
      }

      .ant-form-item-required {
        &::before {
          position: relative;
          top: unset;
          right: unset;
          content: '*';
        }

        &::after {
          padding-right: 1.25em;
          content: ':';
        }
      }
    }
  }

  .full-card {
    height: unset;
  }

  .full-card-modal {
    height: unset;
  }

  .search__form {
    .ant-form-item {
      margin-bottom: 10px;

      .ant-form-item-label {
        display: none !important;
      }
    }

    margin-bottom: 10px;
  }

  .mobiletab {
    display: none;

    &.activetab {
      display: block;
    }
  }

  .navigatetab {
    position: fixed;
    top: 45%;
    display: none;

    button {
      border-radius: 0;
    }

    &.activetab {
      display: block;
    }

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }
}
