body {
  .locked-icon {
    color: red;
  }

  &[data-theme='dark'] {
    .ant-breadcrumb > nz-breadcrumb-item:last-child a {
      color: rgba(255, 255, 255, 0.85) !important;
    }
    .main-title {
      color: white !important;
    }
    .locked-icon {
      color: white;
    }

    .header-grid th {
      background: #1d1d1d !important;
    }

    nz-sider.alain-pro__sider.alain-pro__sider-fixed.ant-layout-sider.ant-layout-sider-dark {
      background: #141414;
    }

    .alain-pro__header-item:hover,
    .alain-pro__header-item:hover .alain-pro__header-item-icon {
      color: #fff;
    }

    .ant-menu-dark .ant-menu-sub,
    .ant-menu.ant-menu-dark {
      color: rgba(255, 255, 255, 0.65);
      background: #141414;
    }

    .alain-pro__header-item,
    .alain-pro__header-item-icon {
      color: #fff;
    }

    .alain-pro__top-nav {
      background-color: #141414 !important;
    }

    .logo-desktop-collapsed {
      width: 100%;
      background: url(/assets/logo.png);
      background-repeat: no-repeat;
      background-size: contain;
    }

    .header-logo-mobile {
      width: 32px;
      height: 32px;
      background: url(/assets/logo.png);
      background-repeat: no-repeat;
      background-size: contain;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      box-shadow: 0 0 0 30px #2e2d2d inset !important;
    }

    input:-webkit-autofill {
      -webkit-text-fill-color: white !important;
    }

    .layout-passport {
      background-color: #141414 !important;

      .passport-logo {
        margin: auto;
        background: url(/assets/logo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }

    .ant-badge {
      display: flex !important;
    }

    .lg-tool {
      background: #141414 !important;

      &.tool-head {
        background: #1d1d1d !important;
      }
    }

    .ant-table-tbody > tr.ant-table-row:hover > td {
      &.lg-tool {
        background: #262626 !important;
      }
    }

    ::-webkit-scrollbar-track {
      background-color: #141414 !important;
    }

    ::-webkit-scrollbar-corner {
      background: transparent;
    }

    .alain-pro__sider-logo {
      background: #141414;
      box-shadow: none;
    }

    .alain-pro__header {
      background: rgba(0, 0, 0, 0.65);

      .alain-pro__header-item {
        color: #fff;
      }

      .alain-pro__header-item-icon {
        color: #fff;
      }
    }

    &.alain-pro__light {
      .alain-pro__sider {
        background-color: #141414;
      }
    }

    .logo-desktop {
      width: 100%;
      background: url(/assets/logo-long.png);
      background-repeat: no-repeat;
      background-size: contain;
    }

    .setting-drawer__handle {
      position: fixed;
      right: 0;
      z-index: 999;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      font-size: 16px;
      text-align: center;
      background: #177ddc;
      border-radius: 4px 0 0 4px;
      cursor: pointer;
      transition: right 0.3s cubic-bezier(0.9, 0, 0.3, 0.7);
      pointer-events: auto;
    }

    .advanced-form .ant-form-item-label > label {
      position: relative;
      top: 7px;
      display: inline-flex;
      align-items: center;
      height: unset;
      padding: 0;
      color: white;
      font-size: 14px;
    }

    .summary-row {
      background: #141414 !important;
    }
  }

  .alain-pro__dark .alain-pro__top-nav .alain-pro__header-item:hover,
  .alain-pro__dark .alain-pro__top-nav .alain-pro__header-item .ant-popover-open {
    background-color: #141414 !important;
  }
}

&[data-theme='compact'] {
  .ant-badge {
    display: flex !important;
  }
}

.ant-menu-vertical-left.ant-menu-sub,
.ant-menu-vertical-right.ant-menu-sub,
.ant-menu-vertical.ant-menu-sub {
  min-width: 250px !important;
}

.alain-pro__sider-fixed {
  position: fixed !important;
}

.ant-layout {
  background-image: url(/assets/images/background.svg) !important;
  background-repeat: no-repeat !important;
  background-position: center 110px !important;
  background-size: 100% !important;
}
