<div class="alain-pro__header-item position-relative" (click)="show()">
  <nz-badge class="brand-top-right" style=" right: 3px;line-height: 34px;" nzShowDot [nzStatus]="status"></nz-badge>
  <i nz-tooltip="Public Chat" nz-icon nzType="message" class="alain-pro__header-item-icon"></i>
</div>