<page-header-wrapper [autoTitle]="true" class="full-page">
  <nz-card [nzBordered]="false" class="list-card">
    <app-loki-grid [lgConfig]="lgConfig" [lgData]="lgData" [lgSearchData]="lgSearchData" (lgOnSearch)="lgOnSearch($event)"> </app-loki-grid>
  </nz-card>
</page-header-wrapper>
