<!-- <global-footer>
  Copyright
  <i class="anticon anticon-copyright"></i>
  2019
  <a href="https://gitlab.com/loki" target="_blank">loki</a>
</global-footer> -->
<div style="float: right;padding: 10px" *ngIf="isDebug">
  Rộng:{{innerWidth}}
</div>
