<page-header-wrapper [autoTitle]="true" class="full-page">
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
    <div nz-col class="mobiletab tab-left" [class.activetab]="activetab === 0" [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7">
      <nz-card class="full-card" [nzBodyStyle]="{ height: '100%' }" class="list-card">
        <nz-input-group [nzSuffix]="suffixIcon" [nzAddOnAfter]="addOnAfterTemplate">
          <input type="text" autofocus nz-input placeholder="{{ 'Nhập vào từ khóa' | translate }}" [(ngModel)]="searchValue" />
        </nz-input-group>
        <ng-template #suffixIcon>
          <i nz-icon nzType="search"></i>
        </ng-template>
        <ng-template #addOnAfterTemplate>
          <a (click)="addNew()">{{ 'Thêm' | translate }}</a>
        </ng-template>
        <nz-spin [nzSpinning]="loading">
          <nz-tree
            [nzData]="nodes"
            [nzShowIcon]="false"
            [nzCheckable]="true"
            [nzSearchValue]="searchValue"
            (nzCheckBoxChange)="onCheckBox($event)"
            (nzClick)="onClickTree($event)"
            [nzExpandedIcon]="expandedIconTpl"
            [nzShowIcon]="true"
            [nzTreeTemplate]="nzTreeTemplate"
          >
            <ng-template #nzTreeTemplate let-node>
              <span class="custom-node" *ngIf="!node.origin.isGroup" [class.active]="activedNode?.key === node.key">
                {{ node.title }}&nbsp;&nbsp;
                <div class="tool" *ngIf="!node.origin.isSystem">
                  <i nz-icon (click)="delete(node.origin)" [nzType]="'delete'" [nzTheme]="'twotone'" [nzTwotoneColor]="'red'"></i>
                </div>
              </span>
              <span *ngIf="node.origin.isGroup" class="custom-node-group">
                {{ node.title }}
              </span>
            </ng-template>

            <ng-template #expandedIconTpl let-node>
              <i
                *ngIf="node.origin.isGroup"
                nz-icon
                [nzType]="node.isExpanded ? 'folder-open' : 'folder'"
                class="ant-tree-switcher-line-icon"
              ></i>
            </ng-template>
          </nz-tree>
        </nz-spin>
      </nz-card>
    </div>
    <div nz-col class="mobiletab tab-right" [class.activetab]="activetab === 1" [nzXs]="24" [nzSm]="24" [nzMd]="17" [nzLg]="17" [nzXl]="17">
      <nz-card class="full-card" [nzBodyStyle]="{ height: '100%' }" [nzExtra]="extraTemplate" class="list-card">
        <div class="custom-empty">
          <nz-empty *ngIf="!formData" [nzNotFoundContent]="contentTpl" [nzNotFoundFooter]="footerTpl">
            <ng-template #contentTpl>
              <span>{{ 'Cấu hình quyền' | translate }} </span>
            </ng-template>
            <ng-template #footerTpl>
              <button nz-button nzType="primary" (click)="addNew()">{{ 'Thêm' | translate }}</button>
            </ng-template>
          </nz-empty>
        </div>
        <nz-spin [nzSpinning]="loading" *ngIf="formData">
          <sf
            class="custom-horizontal custom-transfer"
            *ngIf="formData"
            #sf
            mode="default"
            [schema]="schema"
            [ui]="ui"
            [layout]="layout"
            [formData]="formData"
            button="none"
          >
          </sf>
        </nz-spin>
      </nz-card>
      <ng-template #extraTemplate>
        <ng-container *ngIf="selectedRows.length > 0">
          <button nz-button [nzType]="'danger'" (click)="deleteMulti()" class="reponsive-btn">
            <i nz-icon nzType="delete" nzTheme="outline"></i>{{ 'Xóa đã chọn' | translate }}
          </button>
        </ng-container>
        <button
          nz-button
          *ngIf="activedNode != null || formData"
          type="submit"
          nzType="primary"
          (click)="save(sf?.value)"
          [disabled]="!sf?.valid"
        >
          {{ 'Lưu lại' | translate }}
        </button>
      </ng-template>
    </div>
  </div>
</page-header-wrapper>
<div class="navigatetab left" [class.activetab]="activetab === 1">
  <button nz-button nzType="primary" (click)="activetab = 0"><i nz-icon nzType="left"></i></button>
</div>
<div class="navigatetab right" [class.activetab]="activetab === 0">
  <button nz-button nzType="primary" (click)="activetab = 1"><i nz-icon nzType="right"></i></button>
</div>
