<page-header-wrapper [autoTitle]="true" class="full-page">
  <nz-card [nzBordered]="false" class="list-card">
    <app-loki-grid [lgConfig]="lgConfig" [lgData]="lgData" [lgSearchData]="lgSearchData" (lgOnSearch)="lgOnSearch($event)"> </app-loki-grid>
  </nz-card>
</page-header-wrapper>

<ng-template #expandTpl let-data="data">
  <p>{{ data.message }}</p>
  <sv-container labelWidth="150">
    <sv label="{{ 'Tên máy tính' | translate }}">{{ data.log_eventObj.Properties.MachineName }}</sv>
    <sv *ngIf="data.log_eventObj.ActionName" label="{{ 'Hành động' | translate }}"> {{ data.log_eventObj.ActionName }} </sv>
  </sv-container>
  <sv-container col="1" labelWidth="150" *ngIf="data.exception">
    <sv label="{{ 'Báo lỗi' | translate }}"> {{ data.exception }} </sv>
  </sv-container>
</ng-template>
