<nz-select
  style="width: 100%;"
  [nzMode]="lsMode"
  nzAllowClear="true"
  [(ngModel)]="model"
  (ngModelChange)="modelChange($event)"
  [nzServerSearch]="true"
  (nzOnSearch)="onSearch($event)"
  [nzOptionHeightPx]="lsOptionHeight"
  nzPlaceHolder="{{ lsPlaceHolder | translate }}"
  nzShowSearch="true"
>
  <ng-container *ngFor="let item of collections">
    <nz-option *ngIf="!loading" nzCustomContent="true" [nzValue]="item[lsValueProp]" [nzLabel]="item[lsLabelProp]">
      <div class="select-content">
        <span [innerHTML]="getDisplayData(item)"> </span>
      </div>
    </nz-option>
  </ng-container>
  <nz-option *ngIf="loading" nzDisabled nzCustomContent>
    <i nz-icon nzType="loading" class="loading-icon"></i> {{ 'Đang tải' | translate }}
  </nz-option>
</nz-select>
