<div class="modal-header">
  <div class="modal-title">{{ title | translate }}</div>
</div>
<nz-spin [nzSpinning]="!formData || isLoadingForm" class="modal-spin">
  <sf
    *ngIf="formData"
    class="custom-horizontal custom-upload custom-transfer"
    #sf
    mode="default"
    [schema]="schema"
    [ui]="ui"
    [layout]="layout"
    [formData]="formData"
    button="none"
  >
    <div class="modal-footer">
      <button nz-button type="button" (click)="close()">{{ 'Đóng' | translate }}</button>
      <button nz-button type="submit" nzType="primary" (click)="save(sf.value)" [disabled]="!sf.valid">{{ 'Lưu lại' | translate }}</button>
    </div>
  </sf>
</nz-spin>
