.loki-date {
  position: relative;
  display: block;

  .loki-input {
    z-index: 2;

    .loki-clear {
      margin-right: 3px;
      visibility: hidden;
    }

    &:hover {
      .loki-clear {
        visibility: visible;
      }
    }
  }

  .loki-picker {
    position: absolute;
    top: 38px;
    right: 0;
    z-index: 1 !important;
    min-width: 280px;
    height: 0 !important;
    opacity: 0;
  }
}

.loki-popup {
  .ant-calendar-input-wrap {
    display: none;
  }
}
