<div class="loki-date">
  <nz-input-group class="loki-input" [class.isOpen]="isOpen" [nzSuffix]="suffixTemplate">
    <input
      type="text"
      nz-input
      (blur)="changeInput()"
      [(ngModel)]="lokiDateFomart"
      [placeholder]="ldPlaceHolder"
      [disabled]="ldDisabled"
      [autofocus]="ldAutoFocus"
    />
  </nz-input-group>
  <ng-template #suffixTemplate>
    <a class="loki-clear" (click)="clearPicker()" *ngIf="ldAllowClear && !ldDisabled"
      ><i nz-icon nzType="close-circle" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'"></i
    ></a>
    <a (click)="togglePicker()"><i nz-icon nzType="calendar"></i></a>
  </ng-template>
  <nz-date-picker
    nzDropdownClassName="loki-popup"
    class="loki-picker"
    [(ngModel)]="lokiDate"
    [nzPlaceHolder]="ldPlaceHolder"
    (ngModelChange)="changePicker($event)"
    (nzOnOk)="onOkPicker()"
    [nzFormat]="ldFormat"
    [nzOpen]="isOpen"
    [nzShowTime]="ldShowTime"
    [nzDisabled]="ldDisabled"
  >
  </nz-date-picker>
</div>
