:host ::ng-deep {
  .ant-transfer-list {
    height: calc(100vh - 580px) !important;
  }

  nz-tree {
    .ant-tree {
      height: calc(100vh - 280px) !important;
      margin-top: 1px;
      overflow: auto;
    }
  }

  .custom-empty {
    nz-empty {
      height: calc(100vh - 248px);
    }
  }
}

.title {
  margin-left: 8px;
  font-weight: bold;
  font-size: 14px;
}

.tab-left {
  padding-right: 0 !important;
}

.tab-right {
  padding-right: 0 !important;
}
