<page-header-wrapper [autoTitle]="true" class="full-page">
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
    <div nz-col class="tab-left" [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6">
      <nz-card class="full-card" [nzBodyStyle]="{ height: '100%' }" class="list-card">
        <sf
          class="custom-horizontal custom-transfer"
          *ngIf="formData"
          #sf
          mode="default"
          [schema]="schema"
          [ui]="ui"
          [layout]="layout"
          [formData]="formData"
          button="none"
        >
        </sf>
      </nz-card>
    </div>
    <div nz-col class="tab-right" [nzXs]="24" [nzSm]="24" [nzMd]="18" [nzLg]="18" [nzXl]="18">
      <nz-card class="full-card" [nzBodyStyle]="{ height: '100%' }" class="list-card">
        <div class="custom-empty">
          <nz-empty *ngIf="!selected.appId || !selected.userId" [nzNotFoundContent]="contentTpl">
            <ng-template #contentTpl>
              <span>{{ 'Chọn người dùng và ứng dụng để phân quyền' | translate }} </span>
            </ng-template>
          </nz-empty>
        </div>
        <div *ngIf="selected.appId && selected.userId">
          <nz-input-group [nzSuffix]="suffixIcon">
            <input type="text" autofocus="true" nz-input placeholder="{{ 'Nhập vào từ khóa' | translate }}" [(ngModel)]="searchValue" />
          </nz-input-group>
          <ng-template #suffixIcon>
            <i nz-icon nzType="search"></i>
          </ng-template>
          <nz-spin [nzSpinning]="loading">
            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12">
                <div class="title">{{ 'Quyền menu' | translate }}</div>
                <nz-tree
                  [nzData]="treeNav"
                  nzCheckable="true"
                  nzMultiple="true"
                  [nzSearchValue]="searchValue"
                  (nzCheckBoxChange)="onTreeCheckBox($event)"
                  [nzShowIcon]="true"
                  [nzShowLine]="true"
                  [nzExpandedIcon]="expandedIconTpl"
                >
                </nz-tree>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12">
                <div class="title">{{ 'Quyền hệ thống' | translate }}</div>
                <nz-tree
                  [nzData]="nodes"
                  nzCheckable="true"
                  nzMultiple="true"
                  [nzSearchValue]="searchValue"
                  (nzCheckBoxChange)="onTreeCheckBox($event)"
                  [nzShowIcon]="true"
                  [nzShowLine]="true"
                  [nzExpandedIcon]="expandedIconTpl"
                >
                </nz-tree>
              </div>
            </div>
          </nz-spin>
          <ng-template #expandedIconTpl let-node>
            <i
              *ngIf="node.origin.isGroup"
              nz-icon
              [nzType]="node.isExpanded ? 'folder-open' : 'folder'"
              class="ant-tree-switcher-line-icon"
            ></i>
            <i
              *ngIf="node.origin.inherited"
              nz-popover
              nzPopoverTitle="{{ 'Quyền kế thừa' | translate }}"
              nz-icon
              nzType="cluster"
              [nzPopoverContent]="contentTemplate"
            ></i>
            <ng-template #contentTemplate>
              <p>{{ 'Quyền được kế thừa từ' | translate }}:</p>
              <ul>
                <li *ngFor="let role of node.origin.listRole">
                  <strong>{{ role.name }}</strong
                  >-<span>{{ role.code }}</span>
                </li>
              </ul>
            </ng-template>
          </ng-template>
        </div>
      </nz-card>
    </div>
  </div>
</page-header-wrapper>
